
.btn-xs-pad {
    padding: 4px 3px 3px 3px !important;
}
/*multiselect*/
.k-multiselect-wrap li {
    margin: 1px 0px 0px 1px;
    padding: 0.1em 1.6em .1em .4em;
    line-height: 14px;
}

.k-list > .k-state-selected, .k-state-selected, .k-multiselect-wrap .k-button:active {
    background-color: #468aea !important;
}

.k-multiselect.form-control {
    height: 20px;
    overflow: auto;
}

#clinicalKenduGrid .k-grid-header {
    padding-right: 0px !important;
}
/*table*/

.k-grid-header-wrap th {
    background-color: #468cec;
}

.k-grid-header-wrap .k-header {
    background-image: none;
}

.k-grid-header {
    background-image: none;
    background-color: #468cec;
}

    .k-grid-header th.k-header > .k-link, .k-grid-header-wrap .k-header {
        position: relative;
        color: #fff;
        font-weight: 700 !important;
        vertical-align: middle !important;
    }

        .k-grid-header th.k-header > .k-link > span {
            display: block;
            text-align: center;
        }

        .k-grid-header th.k-header > .k-link:active, .k-grid-header th.k-header > .k-link:focus {
            text-decoration: none;
        }

    .k-grid-header th.k-header .k-icon {
        position: absolute;
        right: 0;
        top: 5px;
        height: 19px;
        width: 19px;
        background-position: 0 0;
        background: url('../Content/images/sort_both.png') no-repeat center right;
    }

.k-button:active .k-i-kpi, .k-button:not(.k-state-disabled):hover .k-i-kpi, .k-link:not(.k-state-disabled):hover > .k-i-kpi, .k-state-hover > * > .k-i-kpi, .k-state-hover > .k-i-kpi, .k-textbox:hover .k-i-kpi {
    background-position: 0 0;
}

.k-grid-header th.k-header .k-icon.k-i-arrow-n {
    background: url('../Content/images/sort_desc.png') no-repeat center right;
    background-position: 0 0;
}

.k-grid-header th.k-header .k-icon.k-i-arrow-s, .k-grid-header th > .k-link:hover span.k-i-arrow-s {
    background: url('../Content/images/sort_asc.png') no-repeat center right;
    background-position: 0 0;
}

.k-grid tr:hover {
    background-image: none;
    background-color: #CFDEFF;
    color: #555555 !important;
}

.k-grid .k-alt {
    background-color: #f9f9f9;
}

.k-grid td {
    border-width: 0 0 1px 1px;
    border-color: #ddd;
}
/**/

/*tree view icon*/
.k-i-collapse, .k-minus, .k-minus-disabled {
    background-position: -32px -224px;
}

.k-i-expand, .k-plus, .k-plus-disabled {
    background-position: -32px -208px;
}
/*custom checkbox*/
.k-mid .k-checkbox-wrapper, .k-top .k-checkbox-wrapper, .k-bot .k-checkbox-wrapper {
    float: left;
}

#associatedAttachmentsDiv .k-mid .k-checkbox-wrapper, #associatedAttachmentsDiv .k-top .k-checkbox-wrapper, #associatedAttachmentsDiv .k-bot .k-checkbox-wrapper {
    display: inline-block;
    float: unset;
}

.k-in {
    white-space: normal;
}

.form-control .k-dropdown-wrap.k-state-default {
    border: none;
    background-color: transparent;
    box-shadow: none;
    background: none;
}

.k-scheduler-edit-form .k-edit-form-container {
    width: 100% !important;
    padding: 15px;
}

.k-scheduler-edit-form {
    width: inherit !important;
}

.k-widget.k-window {
    left: 153px;
    right: 153px;
}

.k-scheduler-edit-form label + input {
    margin-left: initial;
}

.k-window-action.k-link {
    margin-top: 0px;
    background-image: url(../Content/images/close.png);
    width: 24px;
    height: 24px;
    opacity: 1;
    border: none !important;
}

.k-state-hover:hover {
    background-color: transparent;
}

.k-window-action .k-icon {
    display: none;
}

/*sc list*/
.SchdlCustomControls .k-list-container {
    width: 250px !important;
}

#appointmentDurationselect-list {
    width: 75px !important;
}

#patientTypeSingleselect-list {
    width: 160px !important;
}

#statusSingleselect-list {
    width: 170px !important;
}

.k-animation-container .k-list-container {
    width: inherit;
}

.k-animation-container #SchedulerContextMenu {
    width: 210px !important;
}

.k-list-container .k-item {
    width: 100%;
    float: left;
}

#facilityMultiselect-list .k-item > span {
    float: left;
}

    #facilityMultiselect-list .k-item > span:nth-child(2) {
        width: calc(100% - 50px);
    }

/*dropdown*/
.k-dropdown {
    width: 100%;
}

.sc-header-container .k-multiselect-wrap li {
    margin: 0px 0px 0px 0px;
    padding: 3px 22px 3px 0px;
    width: 100%;
    line-height: 20px;
    border: none;
    background-color: transparent;
}

.k-multiselect-wrap li:hover {
    background-color: transparent !important;
}

    .k-multiselect-wrap li .k-icon.k-i-arrow-s, .k-multiselect-wrap li:hover .k-icon.k-i-arrow-s {
        background-position: 0 -159px;
    }

.k-multiselect-wrap .k-select {
    top: 0;
    padding-top: 1px;
    height: 100%;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #eae8e8;
}

#filtersbox [class^=col-] {
    padding-right: 4px;
    padding-left: 4px;
}

.sc-header-container .k-multiselect-wrap .k-button > span {
    font-size: 94%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.k-dropzone em, .k-other-month, .k-other-month .k-link, .k-slider .k-draghandle, .k-state-disabled, .k-state-disabled .k-button, .k-state-disabled .k-link, .k-tile-empty strong {
    color: #000000;
}

.k-nonwork-hour {
    text-align: right;
}

.k-event {
    max-width: 700px;
}

.k-scheduler-toolbar .ZoomInli {
    margin-left: 8px;
    border-left-width: 1px !important;
    border-radius: 4px 0 0 4px;
}

    .k-scheduler-toolbar .ZoomInli .k-link {
        border-radius: 4px 0 0 4px;
    }

.k-scheduler-toolbar .ZoomOutli .k-link {
    border-radius: 0px 4px 4px 0px;
}

.k-scheduler-toolbar .k-scheduler-navigation > li.k-state-default:nth-child(5) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.k-event .k-event-top-actions {
    width: 10% !important;
    left: 310px;
    position: absolute !important;
}

.checkbox-custom {
    line-height: 22px !important;
}

.k-widget.form-control .form-control-feedback {
    top: -28px;
    left: -27px;
    font-size: 12px;
}

/*grid plus-minus*/
.table-plus-minus .k-i-expand, .table-plus-minus .k-plus, .table-plus-minus .k-plus-disabled, .table-plus-minus .k-i-collapse, .table-plus-minus .k-minus, .table-plus-minus .k-minus-disabled {
    background-image: url(/Content/Images/plus-minus.png) !important;
    margin-top: 0px;
    height: 12px;
    width: 12px;
    border-radius: 0px !important;
    margin-left: 5px;
}

.table-plus-minus .k-i-expand, .table-plus-minus .k-plus, .table-plus-minus .k-plus-disabled {
    background-position: 0px;
}

.table-plus-minus .k-i-collapse, .table-plus-minus .k-minus, .table-plus-minus .k-minus-disabled {
    background-position: -13px 0px;
}

tr.k-state-selected {
    background-color: #FFFEC5 !important;
    font-weight: bold;
    color: #333333 !important;
}

.k-hierarchy-cell {
    /* overflow: visible; */
    width: 50px;
}


th.k-header {
    font-weight: 700 !important;
}

/*hierarchy-cell document grid ui*/
.k-grid .k-grouping-row td, .k-grid .k-hierarchy-cell {
    border-right: 1px solid #ddd;
}
/*grid bottom icon's*/
.k-grid-pager.k-floatwrap .k-icon {
    vertical-align: text-top;
}
/*k-grid-norecords-template*/
.k-grid-norecords-template{
    border-color: transparent;
}
.k-widget{
    color: #000000;
}

/*tooltip fix for documents grid*/
.k-state-border-up .k-callout.k-callout-s{
    display: none;
}