/*for core changes */
.form-control {
    height: 23px;
    padding: 3px 8px;
    font-size: 10px;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
}

label {
    margin-bottom: 0;
    line-height: 22px;
}

.input-group-addon {
    padding: 2px 8px;
}

.k-widget * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 8px;
    padding-left: 8px;
}

.form-control.k-autocomplete {
    display:block;
    border: none;
    width:100%;
}

.k-autocomplete .k-input {
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 22px;
}

body, .checkbox-custom {
    line-height: 22px;
}

.k-block, .k-widget {
    line-height: 21px;
}

.input-group-btn .btn-xs {
    /** commented as advised by shahzad mehmood **/
    /*  padding-bottom: 2px; */
}

.input-group {
    line-height: 19px;
}

.k-autocomplete.k-state-default, .k-dropdown-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-picker-wrap.k-state-default {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.k-autocomplete.k-state-focused .k-input {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(102, 175, 233, 0.6);
}

.k-autocomplete.k-state-border-down {
    padding-bottom: 0;
}

.k-autocomplete .k-loading {
    bottom: 4px;
}


.k-grid .k-grid-header, .k-grid table th, .k-grid table th a, .k-grid thead k-header {
    background-color: #468aea !important;
    background-image: none !important;
    color: white !important;
}


/*Immunization */
.ZeroColumn {
    width: 0px !important;
    left: 0px !important;
    padding: 0px !important;
}

.TwoColumns {
    width: 12% !important;
}

.ThreeColumns {
    width: 18% !important;
}

.FourColumns {
    width: 24% !important;
}

.FiveColumns {
    width: 30% !important;
}

/*dialog*/

.k-window .k-window-titlebar.k-header {
    min-height: 40px;
    margin-top: -41px !important;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #468cec;
    border-radius: 2px 2px 0 0;
    color: #ffffff;
    float: left;
    position: relative;
    z-index: 1;
}

.k-window .k-window-title {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    line-height: 1.42857143;
}

.k-window .k-window-content.k-content {
    float: left;
    width: 100%;
}

.k-button {
    background-image: none;
}

/*close btn*/
.k-window-action.k-link.close {
    margin-top: 0px;
    background-image: url(../Content/images/close.png);
    width: 24px;
    height: 24px;
    opacity: 1;
}

.close.k-state-hover:hover {
    color: initial;
    background-color: initial;
    border-color: initial;
    opacity: 0.5;
}

.k-window-titlebar .close.k-state-hover {
    border-width: 0px;
}

.close .k-icon {
    background-image: none;
}
