<div class="row" id="pnlClinicalAddProviderNoteTemplate">
    <div id="actionPanClinicalAddProviderNoteTemplate" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <!--<div class="clearfix"></div>-->

    <div class="modal-dialog modal-dialog-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Clinical_Add_Provider_Note_Template.UnLoadTab();"></button>
                <h4 class="modal-title" id="headerId">Provider Note Template</h4>
            </div>
            <div class="modal-body">
                <form id="frmClinicalAddProviderNoteTemplate" method="post" onsubmit="return false">
                    <div class="col-sm-4 col-lg-3">
                        <label class="control-label">Name <span class="required">*</span></label>
                        <input type="text" class="form-control" name="NoteTemplateName" maxlength="100" />
                    </div>
                    <div class="col-sm-4 col-lg-3 p-none">
                        <div id="NoteTypeDropDown">
                            <div class="col-xs-10 NoteTemplatType">
                                <label class="control-label">Note Type<span class="required">*</span></label>
                                <select id="ddlNoteTemplateType" name="TemplateTypeId" class="form-control" ddlist="GetNoteTemplateType"></select>

                            </div>
                            <div class="col-xs-2 pad-a-labelsize-btn">
                                <button type="button" class="btn btn-success btn-xs" onclick="Clinical_Add_Provider_Note_Template.AddNewNoteType()"><i class="fa fa-plus-circle"></i></button>
                            </div>
                        </div>
                        <div id="NoteTypeDTextBox" hidden>
                            <div class="col-xs-10">
                                <label class="control-label">Note Type<span class="required">*</span></label>
                                <input type="text" id="NoteTypeText" class="form-control" name="NoteType" onkeydown="Clinical_Add_Provider_Note_Template.KeyDownOnNoteTypeText(event)" maxlength="50" onblur=" Clinical_Add_Provider_Note_Template.HideNoteTypeTextbox(event)" />

                            </div>
                            <div class="col-xs-2 pad-a-labelsize-btn">
                                <button type="button" id="SaveButtonForNewNoteType" class="btn btn-success btn-xs" onclick="Clinical_Add_Provider_Note_Template.SaveNewNoteType(event)"><i class=" fa fa-save"></i></button>
                            </div>
                        </div>
                    </div>

                    <div id="entityDDL" class="col-sm-4 col-lg-3">
                        <label class="control-label">Entity <span class="required">*</span></label>
                        <select class="form-control" ddlist="GetEntity" id="ddlEntity" name="EntityId" onchange="Clinical_Add_Provider_Note_Template.isEntitySelected();">
                            <option selected>-Select-</option>
                        </select>
                    </div>
                    <div class="col-sm-3 col-md-3" id="divNotesTemplateSpecialty">
                        <label class="control-label">Specialty </label>
                        <select id="ddlNotesTemplateSpecialty" multiple="multiple" name="SpecialtyIds" class="form-control"></select>
                    </div>
                    <div class="col-sm-3 col-md-3" id="divNotesTemplateProvider">
                        <select class="form-control" style="display:none;" name="hiddenPhysicalExamTemplateProvider" id="ddlHiddenNotesTemplateProvider"></select>
                        <label class="control-label">Provider</label>
                        <select class="form-control" multiple="multiple" name="ProviderIds" id="ddlNotesTemplateProvider" ></select>
                    </div>

                    <div class="col-sm-4 col-lg-3">
                        <label class="control-label">Default ROS Data Template</label>
                        <select id="ddlROSDataTemplate" name="ROSDataTemptId" class="form-control" ddlist="GetROSDataTemplate"></select>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                        <label class="control-label">Default PE Data Template</label>
                        <select id="ddlPEDataTemplate" class="form-control" name="PEDataTemptId" ddlist="GetPETemplate">
                            <option selected value="-1">-Select-</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                        <label class="control-label">Default HPI Template</label>
                        <select id="ddlHPITemplate" class="form-control" name="HPITemplateId" ddlist="GetHPITemplate">
                            <option selected value="-1">-Select-</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-lg-3 OrderSet ">
                        <label class="control-label" for="OrderSet">Default Order Set</label>
                        <select class="form-control" id="OrderSet" name="OrderSetId"  ddlist="">
                            <option selected="selected" value="">-Select-</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-lg-1 pad-a-labelsize">
                        <div class="checkbox-custom">
                            <input type="checkbox" id="Active" name="IsActive" checked>
                            <label class="control-label">Active</label>
                        </div>
                    </div>
                    <div class="pull-right mt-md pr-default"><button type="submit" class="btn btn-primary btn-sm">Save</button></div>
                    <div class="spacer20"></div>

                    <div class="panel-body panel-featured pl-none pr-none">
                        <div class="col-sm-4 col-lg-3">
                            <label class="control-label">Tag Category</label>
                            <select id="ddlNoteTemplateTagCategory" name="NoteTemplatTagCategoryId" class="form-control" ddlist="GetNoteTemplatTagCategory" onchange="Clinical_Add_Provider_Note_Template.TagCategoryChange()"></select>
                        </div>
                        <div class="col-sm-4 col-lg-6 NoteTemplatTagName" id="NoteTemplatTagNameDiv">
                            <label class="control-label">Tag Name</label>
                            <select id="NoteTemplatTagName" name="NoteTemplatTagNameId" class="form-control" disabled>
                                <option selected="selected" value="">-Select-</option>
                            </select>
                        </div>

                        <div class="col-sm-1 pad-a-labelsize pr-default"><button type="button" class="btn btn-success btn-xs" onclick="Clinical_Add_Provider_Note_Template.InsertTag()">Insert</button></div>
                        <div class="spacer20"></div>

                    </div>
                    <div class="spacer10"></div>


                </form>
                <div class="form-group">
                    <textarea id="elm1" name="TemplateData" spellcheck="true"></textarea>
                    <input type="hidden" id="EncodedImageString" value="" />
                    <input type="file" id="ImageUploaderTinymce" style="display:none">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $('[data-plugin-toggle]').each(function () {
            var $this = $(this),
                opts = {};

            var pluginOptions = $this.data('plugin-options');
            if (pluginOptions)
                opts = pluginOptions;

            $this.themePluginToggle(opts);
        });
    });

    $(document).ready(function () {

        (function ($) {
            'use strict';
            $(function () {
                $('[data-plugin-ios-switch]').each(function () {
                    var $this = $(this);

                    $this.themePluginIOS7Switch();
                });
            });
        }).apply(this, [jQuery]);


    });
    EMRUtility.InitTinymceControl(false, 'elm1');

    /**
     * this workaround makes magic happen
     * thanks @harry: http://stackoverflow.com/questions/18111582/tinymce-4-links-plugin-modal-in-not-editable
     */

    $(document).on('focusin', function (e) {
        if ($(e.target).closest(".mce-window").length) {
            e.stopImmediatePropagation();
        }
    });
</script>
