<div class="row" id="pnlHPITemplate" style="display:none;">
    <div id="actionPanHPITemplate" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div id="modaldialog">
        <div id="modalcontent">            
            <div id="modalbody">
                <div class="mainScrollPan" id="mainScrollPan">                    
                    <button type="button" class="btn btn-success btn-sm" id="btn-add" onclick="HPITemplate.HPITemplateAddEdit(-1);"><i class="fa fa-plus-circle"></i> Add</button>
                    <div class="spacer10"></div><div class="clearfix"></div>
                </div>

                <div id="pnlHPITemplate_Result" style="display: inline;">
                    <section class="panel">
                        <div class="panel-body panel-featured">
                            <div class="spacer5"></div>
                            <input type="hidden" id="Provider_SelectedDataKeys" />
                            <table class="table table-bordered table-striped table-condensed table-hover mb-none" id="dgvHPITemplates">
                                <thead>
                                    <tr>
                                        <th class="hidden">Sort By Date</th>
                                        <th style="display: none;">ID</th>
                                        <th id="ColumnAction" actiontype="Delete,Edit,Active" coltype="Action" class="size80 size-min80">Action</th>
                                        <th>Template Name</th>
                                        <th>Last Updated</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div id="divProviderPaging"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
