<div id="pnlClinicalPhysicalExamTemplateSaveAs">
    <div id="actionPanClinicalPhysicalExamTemplateSaveAs" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    <div class="modal-dialog modal-dialog-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="PhysicalExamTemplateSaveAs.UnLoad();"><span class=" red" aria-hidden="true">&nbsp;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="titleBlockReason">Enter Template Name</h4>
            </div>
            <div class="modal-body">
                <form method="post" onsubmit="return false" id="frmClinicalPhysicalExamTemplateSaveAs">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label">Template Name</label><span class="required">*</span>
                            <input type="text" class="form-control" id="txtTemplateNameSaveAs" name="TemplateNameSaveAs">
                        </div>
                    </div>
                    <div class="spacer5"></div>
                    <button id="btnTemplateSaveAs" class="btn btn-primary btn-sm rightbtn" type="submit">Save</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->