<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   
  <!--Login Info-->
 
  
 
    
    <add key="WebServerURL" value="http://localhost/"></add>
    <add key="Data Source" value="dbserverCluster"></add>
    <add key="Initial Catalog" value="MDVDB_QA"></add>
    <add key="CustomerRegCode" value="LocalStaging"></add>
    <add key="User ID" value="Web_App"></add>
    <add key="Password" value="150A4486-3EBD-437B-8F20"></add>
    <add key="Provider Type" value="SqlServer"></add>
    <add key="PersistSecurityInfo" value="false"></add>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.9.0" newVersion="5.5.9.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
