

#divPatientRace .k-multiselect.form-control {
    position:sticky;
}

.maxColumnWidth200 {
    max-width: 200px !important;
    word-wrap: break-word;
}

.maxColumnWidth270 {
    max-width: 270px !important;
    word-wrap: break-word;
}

.maxColumnWidth300 {
    max-width: 300px !important;
    word-wrap: break-word;
}

.maxColumnWidth350 {
    max-width: 300px !important;
    word-wrap: break-word;
}

.btn-default[disabled] {
    background-color: #468cec;
}
/*document-scan controll hover*/
.documentHoverControls {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 1001;
    list-style: none;
}

.dwtcontrolMain {
    position: relative;
}

    .dwtcontrolMain .documentHoverControls {
        display: none;
        bottom: 0;
        /*background-color: rgba(0,0,0,0.7);*/
        /*height: 100%;*/
        width: 100%;
    }

    .dwtcontrolMain:hover .documentHoverControls {
        display: block !important;
    }

.imgTag {
    width: 24px;
}

.imgTag_Selected:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00c";
    position: absolute;
    width: 22px;
    height: 18px;
    color: #fff;
    left: 0;
    top: 0;
}

#folderPanel {
    margin-bottom: 0;
}

    #folderPanel .jstree-anchor.jstree-search {
        font-weight: normal;
    }
/*vertical center the heading of table*/
.table-bordered > thead > tr > th {
    vertical-align: middle;
}
/*form-control disable all*/

.disableAll.form-control, .input-group.disableAll {
    background-color: #eee;
    opacity: 1;
}
/*main body*/
.content-body {
    padding: 40px 0px 0px 16px;
}
/*patient document & scan*/
#divPatDocument, #divDocScan {
    height: calc(100vh - 180px);
    overflow-y: auto;
    overflow-x: hidden;
}

#dgvPatRevDocument_wrapper .datatables-header {
    margin-bottom: 0px;
}

/*folder*/
.folder-container {
    height: calc(100vh - 246px);
    padding-left: 0;
    padding-right: 0;
}


li .btn-docMove.removeIconListHover {
    background-color: #fff;
    top: 0;
}

/*sc fix*/
.sc-container .col-lg-10 {
    width: calc((100%) - 260px);
}


/*vertical tooltip*/
.v-ellipses-tooltip {
    width: 250px;
    height: 84px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 1022;
    color: #fff;
    padding: 8px;
    border-radius: 3px;
    position: fixed;
    line-height: 16px;
    display: none;
    /*left: 187px;
top: -82px;*/
}

    .v-ellipses-tooltip .tooltip-container {
        position: relative;
        max-height: 66px;
        overflow: hidden;
        text-align: left;
    }

    .v-ellipses-tooltip p {
        margin-bottom: 0;
    }

    .v-ellipses-tooltip:after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: calc(50% - 8px);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid rgba(0, 0, 0, 0.95);
    }

.tooltip-read-more {
    position: absolute;
    top: 46px;
    padding: 0 5px;
    right: 0px;
}

.tooltip-custom-v:hover + .v-ellipses-tooltip, .v-ellipses-tooltip:hover {
    display: initial;
}
/*end of vertical tooltip*/
.position-r {
    position: relative;
}

.d-inline-block {
    display: inline-block;
}

.line-height20, .line-height20 label {
    line-height: 20px;
}
/*folder space fix in document*/
.folder-container .jstree-icon.jstree-ocl {
    display: none;
}

.folder-container.jstree-default .jstree-icon:empty {
    width: 18px;
    margin-right: 0;
}

.folder-container.jstree-default .jstree-node.jstree-leaf {
    margin-left: 15px;
}

.folder-container .rootFolder {
    margin-left: 0 !important;
}

/*label strip with modal*/
.label-strip-modal i {
    font-size: 14px;
}

.label-strip-modal .close {
    background: red;
    position: absolute;
    /*left: 119px;*/
    left: 50px;
    width: 18px;
    height: 18px;
    top: 3px;
    opacity: .8;
    z-index: 2;
    border-radius: 25px;
}

    .label-strip-modal .close:focus {
        outline: none;
    }

    .label-strip-modal .close:after {
        content: 'X';
        color: #fff;
        font-size: 11px;
        font-weight: normal;
        position: absolute;
        left: 6.5px;
        top: 1.8px;
    }

.label-strip-modal .modal-header {
    border-bottom: 2px solid #468cec;
    background-color: transparent;
    padding: 0 !important;
    border-radius: 0;
    position: relative;
    color: initial;
    height: 26px;
}

    .label-strip-modal .modal-header h4 {
        font-size: 14px;
        font-weight: 400;
        background-color: #468cec;
        color: #fff;
        padding: 2px 32px 2px 8px;
        position: relative;
        float: left;
    }

.label-strip-modal .modal-title {
    display: inline-block;
    margin: 0 !important;
}

.page-number,
.current-page,
.page-number-of,
.total-pages,
.preview-doc,
.controls-adv,
.checkbox {
    display: inline-block;
    color: #000;
}

    .current-page .form-control,
    .preview-doc .form-control {
        width: 50px;
        text-align: right;
        font-size: 12px;
        padding: 0px 5px;
        height: 19px;
        background-color: #f5f5f5;
        border-radius: 11px;
        display: inline-block;
    }

        .current-page .form-control:focus,
        .preview-doc .form-control:focus {
            outline: none;
            box-shadow: none;
        }

    .total-pages .form-control {
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
        font-size: inherit;
        font-weight: normal;
        width: 45px;
    }

    .preview-doc .form-control {
        width: 56px;
        height: 21px;
        background-color: #fff;
    }

.pipe {
    color: #737373;
}

.text-default {
    color: #163a6e;
}

.text-warning {
    color: #ed9c28 !important;
}


.doc-controls {
    width: 100%;
    display: flex;
    background-color: aliceblue;
    margin-top: -5px;
    z-index: 2;
}

.label-strip-modal .doc-controls {
    width: calc(100% - (70px));
    display: flex;
    position: absolute;
    top: -27px;
    right: 0;
    background-color: initial;
    margin-top: initial;
}

.doc-left-controls {
    padding-left: 8px;
}

.doc-right-controls {
    text-align: right;
    margin-left: auto;
}

#docActionsDiv {
    background-color: #f0f8ff;
    margin-top: -4px;
}

.modal.fade.in #docActionsDiv {
    margin-top: initial;
    background-color: initial;
}

    .modal.fade.in #docActionsDiv ~ .splitterbody, .modal.fade.in #secPanel {
        padding-right: 0 !important;
    }

.reportToggle .btn-toggle-folder.active {
    z-index: -1;
}

.bigbutton {
    color: #fff !important;
}
/*scan end*/

/*doc viewer */


.splitterbodyLeft {
    border-left: 2px solid #468cec45;
}

.asideBtn {
    border-radius: 3px 0px 0px 3px;
    position: absolute;
    right: 311px;
    background-color: #e8e8e8;
}

    .asideBtn.lf {
        padding: 5px 7px;
    }

.doc-sidebar-container {
    padding-left: 28px;
    width: 280px;
}

    .doc-sidebar-container ~ .asideBtn {
        right: 260px;
        width: 28px;
    }

    .doc-sidebar-container.toggled1 ~ .asideBtn {
        right: 0px;
        width: 28px;
    }

.toggled1 {
    width: 0px;
    overflow: hidden;
}

    .toggled1.doc-sidebar-container {
        padding-left: 0;
    }

    .toggled1 > .splitterbodyLeft {
        width: 2px;
        overflow: hidden;
    }

.toggledCont {
    width: calc(100% - 285px);
}

.doc-sidebar-container.toggled1 ~ .toggledCont {
    width: calc(100% - 30px);
}



.control-strip-top {
    background-color: #f0f8ff;
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    padding: 3px 8px;
}

    .control-strip-top .controls {
        background-color: #fff;
    }

.controls-right {
    margin-right: 0;
}

.control-strip-top i {
    font-size: 16px;
}

.control-strip-top .controls {
    margin: 0 auto;
    font-size: 20px;
    background-color: transparent;
    border-radius: 25px;
    padding: 0 12px;
}

.btn-next-prev {
    padding: 0px 13px;
    position: relative;
}

    .btn-next-prev i {
        position: absolute;
        top: -3px;
        left: 0;
        font-size: 22px;
    }

    .btn-next-prev .fa-angle-right {
        right: 0;
        left: auto;
    }

#OpenDocumentIF {
    height: calc(100vh - 214px) !important;
}

    #OpenDocumentIF.pdf-view-lg {
        height: calc(100vh - 93px) !important;
    }

.pl28 ~ #OpenDocumentIF.pdf-view-lg, .pl28 ~ #PDFEditorIF.pdf-view-lg, #frmDocumentViewer .pl28 ~ #canvasContainer {
    width: calc(100% - 285px);
}

.pl28.toggled1 ~ #OpenDocumentIF.pdf-view-lg, #frmDocumentViewer .toggled1 ~ #canvasContainer {
    width: calc(100% - 28px);
}

/*end doc viewer */
/*hide datatable controls*/
.hide-datatable-controls .datatables-header, .hide-datatable-controls .datatables-footer {
    display: none;
}
/*multiselect fix*/
.multiselect-container > li > a > label {
    display: block;
}

.multiselect-container > li.active > a > label {
    background-color: #e8e8e8;
}

.multiselect-container > li > a > label:hover {
    background-color: #ddd;
}

#dgvBillCharge a, #dgvSubmission a {
    color: #fff;
    text-decoration: underline;
}

/*fix for clear button annotate img*/
.lc-clear.toolbar-button.fat-button {
    background-color: #cccccc;
    color: #000;
    height: initial;
}

[isReviewed="No"] a {
    color: blue !important;
    font-weight: bold;
}

.set-Tooltip-Position {
    width: 210px;
    margin-left: -101px;
}

#pnlClinicalProgressNote #wrapper.toggled .moveTop {
    right: 240px !important;
}

#pnlClinicalProgressNote #wrapper.toggled {
    padding-right: 240px !important;
}

#pnlClinicalProgressNote #page-content-wrapper {
    width: 100% !important;
}

/*widget close button dashboard*/
.btn-widget-close, .btn-widget-close:focus {
    position: absolute;
    left: 0px;
    top: 22px;
    color: #ff0000;
    padding: 0px 4px;
    line-height: 16px;
    border-radius: 20px;
}

    .btn-widget-close:hover {
        color: #630000;
    }

.multiselect, .k-multiselect.form-control {
    height: 23px;
}

.pprofile-adjust {
    width: calc((100%) - 250px);
}

.table-checkbox-center {
    width: 6px !important;
    padding-right: 4px !important;
}

.dataTables_wrapper table thead th.table-checkbox-center {
    padding-right: 4px !important;
}

#txtAutoLogOff ~ .help-block {
    position: absolute;
    color: #fff;
    background-color: #ff4e4e;
    z-index: 2;
    font-size: 12px;
    border: 1px solid #ff0000;
    border-radius: 3px;
    margin-top: 3px;
    padding: 3px 5px;
    line-height: 1.2;
}

/*Starting MIPS Section

*/

.panel-featured-light {
    border-top: 3px solid #0088CC;
}

.mips-graph-container {
    display: flex;
    justify-content: space-between;
}

.mips-graph-box {
    padding: 15px;
}

.progress-bar-circle-new section {
    color: inherit;
    display: flex;
    text-align: center;
    width: inherit;
    font-family: sans-serif;
    font-size: 126%;
    font-weight: 400;
    line-height: 1.2;
    position: absolute;
    flex-direction: column;
    height: inherit;
    justify-content: center;
}

    .progress-bar-circle-new section div:first-child {
        padding: 0 10px;
    }

    .progress-bar-circle-new section div:nth-child(2) {
        font-size: 200%;
        font-weight: 600;
        line-height: 175%;
    }

.progress-bar-circle-new canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-circle-new {
    position: relative;
}

    .progress-bar-circle-new.success div {
        color: #47A447;
    }

    .progress-bar-circle-new.dafault div {
        color: #555555;
    }

    .progress-bar-circle-new.danger div {
        color: #D2322D;
    }

    .progress-bar-circle-new.primary div {
        color: #0088CC;
    }

/*label-chip for mips*/
.label-chip {
    border: 1px solid #0088cc;
    border-radius: 2px;
    background-color: #efefef;
    color: #000;
    padding: 0 5px;
    display: inline-block;
}
/*label-chip for mips*/
.table-va-top td {
    vertical-align: top;
}

.table-space-td td, .table-space-td th {
    padding: 2px 8px;
}

.chip-notifi {
    display: inline-block;
    height: 8px;
    width: 20px;
}
/*ending MIPS*/

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.pad-checkbox {
    padding-top: 23px;
}

#ReLogin {
    z-index: 2000 !important;
}

/*fieldset-primary*/
.fieldset-primary {
    display: block;
    width: 100%;
    border: 1px solid #468cec;
    border-radius: 5px;
    padding: initial;
}

    .fieldset-primary legend {
        font-size: 1.5rem;
        border-bottom: none;
        margin-bottom: 8px;
        float: left;
        display: inline-block;
        padding: 8px;
        margin-top: -20px;
        background-color: #fff;
        width: auto;
        margin-left: 1rem;
    }

.borderB-primary {
    border-bottom: 1px solid #468cec;
}

.borderR-primary {
    border-right: 1px solid #468cec;
}

.borderY-primary {
    border-left: 1px solid #468cec;
    border-right: 1px solid #468cec;
}

.table-col-3 td {
    width: 33.3333%;
    border-top: none !important;
    padding: 2px 20px !important;
}

.table-va-middle td {
    vertical-align: middle !important;
}

.table-border-middle tr td:nth-child(2) {
    border-left: 1px solid #468cec;
    border-right: 1px solid #468cec;
}

.multiselect {
    position: relative;
}

    .multiselect .caret {
        right: 5px;
    }
/*end of fieldset-primary*/
.text-black {
    color: #000000 !important;
}

.special-block {
    margin: 0 -8px 0px -8px;
}

#btnChangePassword:not([style*="display:none"]) + #txtUserPassword {
    max-width: calc((100%) - 25px);
}

#btnChangePassword {
    right: 8px;
    bottom: 1px;
    position: absolute;
}

.special-block h5 {
    color: #000000;
    font-weight: 600;
    border-bottom: 1px solid #bbbbbb;
}

/*modal-dialog*/
.modal-header {
    padding: 6px 15px 6px 15px;
}

/*macro tooltip*/
.tinymce-autocomplete {
    /*display: none;*/
    max-height: 200px;
    width: 250px;
    background-color: #f0f8ff;
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 203px;
    overflow: auto;
}

.list-underlined li {
    border-bottom: 1px solid #ccc;
    padding-left: 0 3px;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

    .list-underlined li button {
        background-color: transparent;
        border: none;
        display: block;
        width: 100%;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

        .list-underlined li button:hover, .list-underlined li button.selected {
            background-color: #d0e4f6;
        }

/*free text tooltip*/
/*.initialVisit li {
    position: relative;
}*/

.free-text-tooltip {
    border: 1px solid #468aea;
    border-radius: 3px;
    width: 300px;
    position: absolute;
    top: calc(-80%);
    left: calc(50% - 150px);
    background-color: #fff;
}

    .free-text-tooltip::after {
        content: "";
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #468aea;
        position: absolute;
        left: 45%;
    }

/*widget fix for itrack*/
.nav-tabs li:first-child a {
    margin-left: -1px;
}

.itrack-graph {
    display: table;
    width: 100%;
}

    .itrack-graph .k-chart {
        margin-right: 0 !important;
    }

    .itrack-graph .col-xs-12 {
        display: table-cell;
        float: initial;
        vertical-align: middle;
        width: 40%;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
    }
/*header name fix*/
.userbox .name {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*dashboard widget slider fix*/
.slider-container .ul .li .slide-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*datatable fix in dashboard*/
.dataTables_wrapper .datatables-header {
    margin-bottom: 3px;
}

.splitter-alert {
    background: #468aea;
    color: #fff;
    padding: 3px 0 3px 20px;
    font-size: 16px;
    margin: -4px -7px 0px -8px;
}

.content-alert {
    font-size: 14px;
}

.container-alert {
    padding: 12px;
}

.label-red {
    background-color: red;
}

.label-green {
    background-color: green;
}

.alert-label {
    width: 25px;
    height: 9px;
    float: left;
    margin-top: 7px;
    margin-right: 5px;
    border-radius: 3px;
}

.label-container {
    float: left;
    margin-left: 15px;
}

/*off-primary ios-switch*/
.off-primary .ios-switch .state-background {
    background-image: linear-gradient(#0088cc, #0088cc);
    background-image: -webkit-linear-gradient(#0088cc, #0088cc);
    border: 2px solid #0088cc;
}
/*mips sumery*/
.text-vertical-kpi {
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    transform: rotate(-90deg);
    transform-origin: 103px 110px;
    z-index: 2;
}

.progress {
    background: #afafaf;
}

/*claim detail fix*/
.claim-sortable-cont .sortable li p {
    margin: -3px 0px 0 5px;
}

.claim-sortable-cont .sortable li {
    margin: 1px 3px 0 1px;
    padding: 1px 0 1px 0;
    padding-left: 1.5em;
    font-size: 1em;
    height: 18px;
    text-align: left;
    position: relative;
    border: none;
}

.claim-sortable-cont .sortable {
    padding-left: 15px;
}

    .claim-sortable-cont .sortable .checkboxTiny {
        position: absolute;
        left: -15px;
        top: -1px;
    }

/*header timer*/
#ccmTimer {
    float: initial;
    display: inline-block;
    height: 14px;
}
#ccmTimer #divTaskSeconds{
    padding-right: 0;
}

/*notification fix*/
.notifications > li {
    margin: 0 7px 0 0;
}
.ortho.active > label:before{
    border:none !important;
    margin-top: 5px;
}
.ortho.active > label {
    border-radius: 0px !important;
    padding-left: 15px !important;
}
.ortho-complaint-heading {
    text-align: center;
    padding: 6px;
    font-size: small;
    border-bottom: 1px solid #f4e138;
    background-color: rgb(273, 247, 166);
}
.ortho-complaint-body {
    background-color: rgb(250, 255, 189);
}
.ortho-buttons {
    text-align:center;
    padding-bottom: 10px;
}
.ortho-buttons button {
    border-radius: 0px;
    margin-left: 10px;
}
.ortho-right {
   padding: 15px;
    padding-left: 15px;
    width: 50%;
}
.ortho-right > textarea {
    width: 100%;
    height: 199px;
    border: 1px solid #f4e138;
}
.ortho-left {
    padding: 15px;
    padding-left: 15px;
    width: 50%;
}
.ortho-left>ul {
    list-style: none;
    background-color: white;
    padding: 0px;
    border: 1px solid #f4e138;
    overflow: auto;
}
.ortho-left > ul li {
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.ortho-body {
    border: 1px solid #f4e138 !important;
    border-radius: 0px !important;
}
.ortho-rightpanel {
    width: 70%;
}
.ortho-rightpanel h3 {
    text-align: center;
    color: #468cec;
}
.ortho-grid {
padding-left:35px
}
.joints-list {
    list-style: none;
    padding-left: 0px !important;
    overflow:auto;
}
.joints-list li {
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.ortho-section {
background-color: white;
}
.add-complaint {
    clear: both !important;
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.add-complaint input {
    width: 82%;
    border: 1px solid #ccc;
    margin: 2px;
}
.add-complaint span {
    margin: 3px;
}
.ortho-content {
    display: block;
    background-color: #ccc;
    font-size: 40px;
    margin-top: 5px;
    text-align: center;
    padding-bottom: 33px;
    padding-top: 33px;
    cursor:pointer;
    opacity:0.5;    
}
#ortho_slider .slick-center {
    opacity: 1 !important
}
#ortho_slider .slick-active {
    opacity: 0.5;
}
#ortho_slider.slick-slide
{
    opacity: 0.5;
}
.or-circle {
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 100%;
    padding-top: 5px;
    cursor: pointer;
}
.or-circle:hover {
     background-color: #ddd;
}
.or-triangle {
    height: 0;
    width: 0;
    margin-left: 7px;
    border-left: 5px solid transparent;
    border-right: 6px solid transparent;
    
}
.or-bar {
    width: 0;
    height: 6px;
    border-left: 5px solid white;
    margin-left: 10px;
    border-radius:8px;
}
.or-up {
    border-bottom: 8px solid white;
}
.or-down {
    border-top: 8px solid white;
}
.ortho-next {
margin-left: 40%;
    margin-bottom: 10px;
}
.ortho-prev {
margin-left: 40%;
    margin-bottom: 10px;
}
.ortho-tab {
border: none !important;
    background-color: white !important;
}
.ortho-flist-heading {
    background: #efefef !important;
    color: #468aea !important;
}
.ortho-flist-heading h2 {
    color: #468aea !important;
}
#ulSmokingStatus li {
position:inherit !important;
}