<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<connectionStrings>
    <add name="AuthContext" connectionString="Data Source=Db-server;Initial Catalog=AngularJSAuth;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>

   <!-- Stuff for MU2 DB-->



    <!--Login Info-->
    <add key="VersionNo" value="1.0.0.1" />
    <add key="PatchNo" value="1" />
    <add key="WebServerURL" value="http://localhost/"></add>


    <!--<add key="Data Source" value="UAT-SERVER"></add>
    <add key="Initial Catalog" value="SingleClaimEMRQA"></add>
    <add key="User ID" value="Web_App"></add>
    <add key="Password" value="9A11941B-8BA7-4522-B524"></add>
    <add key="Provider Type" value="SqlServer"></add>
    <add key="CustomerRegCode" value="LocalStaging"></add>-->

    <!--added by zia mehmood-->
    <add key="Data Source" value="dbserverCluster"></add>
    <add key="Initial Catalog" value="MDVDB_DEV"></add>
    <add key="CustomerRegCode" value="LocalTest"></add>
    <add key="User ID" value="MDVISION"></add>
    <add key="Password" value="mdvision786"></add>
    <!--commented by faizan will be uncommented-->
    <!--<add key="Data Source" value="dbserverCluster"></add>
    <add key="Initial Catalog" value="MDVDB_QA"></add>
    <add key="CustomerRegCode" value="LocalStaging"></add>
    --><!--<add key="User ID" value="Web_App"></add>--><!--
    <add key="User ID" value="MDVISION"></add>
    --><!--<add key="Password" value="150A4486-3EBD-437B-8F20"></add>--><!--
    <add key="Password" value="mdvision786"></add>-->
    
    <add key="Provider Type" value="SqlServer"></add>
    <add key="PersistSecurityInfo" value="false"></add>
    <!--For PQRS-->
    <!--<add key="Data Source" value="DB-SERVER-AD"></add>
    <add key="Initial Catalog" value="MDVDB_PQRS"></add>
    <add key="CustomerRegCode" value="LocalStaging"></add>
    <add key="User ID" value="Web_App"></add>
    <add key="Password" value="150A4486-3EBD-437B-8F20"></add>
    <add key="Provider Type" value="SqlServer"></add>
    <add key="PersistSecurityInfo" value="false"></add>-->





    <!--<add key="Initial Catalog" value="MDVDB_QA"></add>
    <add key="CustomerRegCode" value="LocalStaging"></add>-->







    <!-- Application Keys -->

    <add key="IsTestDatabase" value="true"></add>
    <add key="IsProxy" value="false"></add>
    <add key="PoolingString" value=""></add>
    <add key="DocsHostName" value="192.168.0.253"></add>
    <add key="DocsAlias" value="ehrdocs$$"></add>
    <add key="DomainName" value="MD4PK"></add>
    <add key="DomainUserName" value="report"></add>
    <add key="DomainPassword" value="mdvision"></add>


    <add key="PatientPortalURL" value="http://localhost/MDVision.PatientPortalClient"></add>
    <add key="ReportViewerServerConnection" value="MDVision.IEHR.Controls.Reports.ReportServerConnection, MDVision.IEHR" />
    <add key="EnableOptimizations" value="false"></add>
    <add key="EMRSourceRequire" value="true"></add>
    <add key="IsSimultaneousLoginAllowed" value="true"></add>
    <add key="isDrFirstRequired" value="true"></add>
    <add key="TotalStatementInBatch" value="75"></add>
    <!--<add key="IMOHostName" value="Sandbox.e-imo.com"></add>
    <add key="IMOPortNumber" value="42045"></add>
    <add key="IMO_ID" value="25d3f24926ae1e7a"></add>-->
    <!--<add key="FaxDocumentsPath" value="\\192.168.0.19\docs-share\FaxDocuments\"/>-->
    <add key="PatientDocumentsFolder" value="PatientDocuments\" />
    <add key="FaxDocumentsFolder" value="FaxDocuments\" />
    <add key="PatientFilesPath" value="\\192.168.0.19\docs-share\" />
    <add key="CCDA_RemoteHost" value="sandbox.phimail-dev.com"></add>
    <add key="CCDA_RemoteUser" value="mdvisionemr@test.directproject.net"></add>
    <add key="CCDA_RemotePassword" value="yg4g5bzu"></add>
    <add key="CCDA_RemotePort" value="32541"></add>

    <add key="PatintDemographicImagesPath" value="\\192.168.0.19\docs-share\PatintDemographicImages\" />

    <add key="DefaultProviderId" value="3" />
    <add key="DefaultFacilityId" value="1" />
    <add key="DefaultPracticeId" value="1" />
    <add key="WinSCP_Path" value="E:\MDVision-Team\Development\Source\MD Vision IEHR\MDVisionEHR\MDVision.IEHR\DLL\WinSCP.exe"></add>
    <add key="UploadPath" value="/DocASAP/SIU/OUT/"></add>
    <add key="SFTP_RemoteHost" value="secure.sovms.com"></add>
    <add key="SFTP_RemoteUser" value="docasap"></add>
    <add key="SFTP_RemotePassword" value="D0cA$@P!#"></add>
    <add key="SFTP_RemotePort" value="22"></add>
    <add key="SFTP_RemoteHostKey" value="ssh-rsa 2048 78:a7:26:bd:52:ff:7f:0b:7a:98:73:63:79:ff:30:e6"></add>
    <add key="DoNotReportG2ForEntityId" value="101"></add>
    <add key="AlphaIISubmitterID" value="MDVISTEST" />
    <add key="AlphaIIUser" value="services" />
    <add key="AlphaIIPassword" value="MD^!$0nM16" />
    <add key="AlphaIIEDIServer" value="test" />
    <add key="ReminderCallURL" value="https://api.remindercall.net/v3.2/dispatch.xml" />
    <add key="ReminderCallPassword" value="d36d28e6655bb340b9ef6f84475d3869bbd018b1618d4e1bd8778712da7693e4" />
    <add key="ReminderCall_TimeZone" value="-05" />
    <!--TestDev12 User ReminderCall Password: 6c7dadd4919435c9610e0448db719dc432bcd8fa20296676b4244669bed689ce-->

    <!-- Mobile Check-In App keys -->
    <add key="CheckInApp_AccountKey" value="6e6457872c71bd489e9de7c26b845b446c03824b3c616c4a7007af3e939830ff" />
    <add key="CheckInApp_TimeZone" value="-04" />
    <add key="CheckInApp_SenderName" value="Patient Check-In App" />
    <!-- MD Vision FAX-API keys -->

    <add key="access_id" value="77137" />
    <add key="access_pwd" value="MDVision1" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FaxNotifyURL" value="https://zocdoc.sovms.com/api/Fax/FaxNotify" />

    <!-- Medline Plus URLs -->
    <add key="MedlineURL" value="https://apps.nlm.nih.gov/medlineplus/services/mpconnect_service.cfm?" />
    <add key="MedlineParam1" value="mainSearchCriteria.v.cs=" />
    <add key="MedlineParam2" value="mainSearchCriteria.v.c=" />


    <!--Medtext credentials -->
    <add key="Medtext_JWTSecret" value="4dbcb09f6e0375fff844ec4d4329e5027d2e4e34524df0ba3460e4601e4a385c98c3dc95f7df09e5647e0ead6fd8f8281880dc6dc63f2462c60a5acd567f5b7f" />
    <add key="Medtext_URL" value="http://stagingmedtextapp.com" />
    <add key="Medtext_UserName" value="1255" />
    <add key="Medtext_Password" value="broad" />
    <add key="Medtext_Email" value="sjane@medtext.co" />
    
  
  
    <add key="IMO_HostName" value="portal.e-imo.com" />
    <add key="IMO_CPTPort" value="42045" />
    <add key="IMO_ID" value="25d3f24926ae1e7a" />
    <add key="IMO_ICDPort" value="portal.e-imo.com" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="BDE5239FBD71982481D87D815FA0A65B9F5982D99DFA96E6D92B782E0952D58818B479B19FF6D95263E85B0209297E6858B57D1E0BD3EFECE5E35742D605F2A7" decryptionKey="8E8496D7342EA258526CF6177E04EA7D208E359C95E60CD2A462FC062B9E41B3" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.9.0" newVersion="5.5.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>