html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
	display: block;
}
body
{
	line-height: 1;
}
ol,ul
{
	list-style: none;
}
blockquote,q
{
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after
{
	content: '';
	content: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
a:focus,button:focus
{
	outline: 1px dotted #000 !important;
}
html
{
	font-size: 100%;
}
body
{
	background: linear-gradient(#feffff 0%,#ddf1f9 20%,#a0d8ef 100%);
	background: -moz-linear-gradient(#feffff 0%,#ddf1f9 20%,#a0d8ef 100%);
	background: url('data:image/svg+xml;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feffff),color-stop(20%, #ddf1f9),color-stop(100%, #a0d8ef));
	background: -webkit-linear-gradient(#feffff 0%,#ddf1f9 20%,#a0d8ef 100%);
	background-color: #a0d8ef;
	background-repeat: no-repeat;
	background-size: 100% 71.42857em;
	color: #444;
	font-family: "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
	font-size: .875em;
	line-height: 1.5em;
	webkit-font-smoothing: antialiased;
	webkit-text-size-adjust: 100%;
}
.print-only
{
	display: none;
}
h1,h2,h3,h4,h5,h6,.pageheader,.subheading
{
	color: #404040;
	font-weight: bold;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,.pageheader a,.subheading a
{
	font-weight: inherit;
}
h1,.pageheader
{
	font-size: 1.71429em;
	line-height: 1em;
	margin-bottom: .58333em;
}
h1.with-also,.pageheader.with-also
{
	line-height: 1em;
	margin-bottom: 0;
}
h2,.subheading
{
	font-size: 1.28571em;
	line-height: 1.55556em;
	margin-bottom: .55556em;
}
h3
{
	font-size: 1.14286em;
	line-height: 2.125em;
	margin-bottom: .5em;
}
h4
{
	font-size: 1em;
	line-height: 2.14286em;
	margin-bottom: .28571em;
}
h5
{
	font-size: 1.21429em;
	line-height: 1.41176em;
}
h6
{
	font-size: 1em;
	line-height: 1.5em;
}
.bluearea h1,.bluearea h2,.bluearea h3,.bluearea h4,.bluearea h5,.bluearea h6,.bluearea .pageheader,.bluearea .subheading
{
	color: #0070AD;
}
p
{
	margin: 0 0 1.42857em 0;
}
p img
{
	margin: 0;
}
em
{
	font-style: italic;
}
strong
{
	color: #333;
	font-weight: bold;
}
small
{
	font-size: 80%;
}
hr
{
	border: solid #ddd;
	border-width: .07143em 0 0;
	clear: both;
	height: 0;
	margin: .71429em 0 2.14286em;
}
a,a:visited
{
	outline: 0;
	text-decoration: none;
}
a
{
	color: #069;
}
a:visited
{
	color: #936;
}
.esm a:visited
{
	color: #A54B13;
}
#breadcrumbs a:visited,#mplus-nav a:visited,.alpha-links a:visited,.esm .alpha-links a:visited
{
	color: #069;
}
.r2top,.esm .r2top
{
	color: #069;
}
.r2top:visited,.esm .r2top:visited
{
	color: #069;
}
.alpha-links a:hover,.alpha-links a:focus,.alpha-links a:active
{
	color: #936;
}
.esm .alpha-links a:hover,.esm .alpha-links a:focus,.esm .alpha-links a:active
{
	color: #A54B13;
}
a:hover,a:focus,a.active
{
	text-decoration: underline;
}
span.active
{
	color: #936;
	font-weight: bold;
}
.esm span.active
{
	color: #A54B13;
}
span.inactive
{
	color: #606060;
	font-weight: bold;
}
p a,p a:visited
{
	line-height: inherit;
}
ul,ol
{
	margin-bottom: 1.42857em;
}
ul
{
	list-style: none outside;
}
ol
{
	list-style: decimal;
}
ol,ul.square,ul.circle,ul.disc
{
	margin-left: 2.14286em;
}
ul.square
{
	list-style: square outside;
}
ul.circle
{
	list-style: circle outside;
}
ul.disc
{
	list-style: disc outside;
}
ul ul,ul ol,ol ol,ol ul
{
	margin: .28571em 0 .35714em .71429em;
}
ul ul li,ul ol li,ol ol li,ol ul li
{
	margin-bottom: .42857em;
}
li
{
	line-height: 1.28571em;
	margin-bottom: .85714em;
}
li p
{
	line-height: 1.5em;
}
img.scale-with-grid
{
	height: auto;
	max-width: 100%;
}
.button,button,input[type="submit"],input[type="reset"],input[type="button"]
{
	background: #2B8737;
	background: linear-gradient(#329e39 0%,#2b8737 25%,#21662e 100%);
	background: -moz-linear-gradient(#329e39 0%,#2b8737 25%,#21662e 100%);
	background: url('data:image/svg+xml;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #329e39),color-stop(25%, #2b8737),color-stop(100%, #21662e));
	background: -webkit-linear-gradient(#329e39 0%,#2b8737 25%,#21662e 100%);
	border: .07143em solid #000;
	border: .07143em solid rgba(0,0,0,0.25);
	border-radius: .28571em;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
	font-size: 1em;
	font-weight: bold;
	line-height: normal;
	margin: 0;
	moz-border-radius: .28571em;
	padding: .71429em;
	text-decoration: none;
	webkit-border-radius: .28571em;
}
.button:hover,.button:active,button:hover,button:active,input[type="submit"]:hover,input[type="submit"]:active,input[type="reset"]:hover,input[type="reset"]:active,input[type="button"]:hover,input[type="button"]:active
{
	background: #329e39;
	background: linear-gradient(#329e39 75%,#2b8737 100%);
	background: -moz-linear-gradient(#329e39 75%,#2b8737 100%);
	background: url('data:image/svg+xml;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(75%, #329e39),color-stop(100%, #2b8737));
	background: -webkit-linear-gradient(#329e39 75%,#2b8737 100%);
}
.button:disabled,button:disabled,input[type="submit"]:disabled,input[type="reset"]:disabled,input[type="button"]:disabled
{
	background: #eee !important;
	color: #686868 !important;
	cursor: default;
}
.esm .button,.esm button,.esm input[type="submit"],.esm input[type="reset"],.esm input[type="button"]
{
	background: #cb6827;
	background: linear-gradient(#c76e06 0%,#ad4500 100%);
	background: -moz-linear-gradient(#c76e06 0%,#ad4500 100%);
	background: url('data:image/svg+xml;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c76e06),color-stop(100%, #ad4500));
	background: -webkit-linear-gradient(#c76e06 0%,#ad4500 100%);
}
.esm .button:hover,.esm .button:active,.esm button:hover,.esm button:active,.esm input[type="submit"]:hover,.esm input[type="submit"]:active,.esm input[type="reset"]:hover,.esm input[type="reset"]:active,.esm input[type="button"]:hover,.esm input[type="button"]:active
{
	background: #d76e29;
	background: linear-gradient(#c76e06 75%,#ad4500 100%);
	background: -moz-linear-gradient(#c76e06 75%,#ad4500 100%);
	background: url('data:image/svg+xml;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(75%, #c76e06),color-stop(100%, #ad4500));
	background: -webkit-linear-gradient(#c76e06 75%,#ad4500 100%);
}
.esm .button:disabled,.esm button:disabled,.esm input[type="submit"]:disabled,.esm input[type="reset"]:disabled,.esm input[type="button"]:disabled
{
	background: #eee !important;
	color: #686868 !important;
	cursor: default;
}
.esm #mplus-nav #mplus-lang-toggle
{
	color: #2B8737;
}
.esm #mplus-nav #mplus-lang-toggle:hover
{
	color: #990066;
}
.button.full-width,button.full-width
{
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
	width: 100%;
}
button::-moz-focus-inner,input::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
form
{
	margin: 0;
}
fieldset
{
	margin-bottom: 1.42857em;
}
input[type="text"],textarea,select
{
	background-color: #ffffff;
	background-image: none;
	border: .07692em solid #b4b4b4;
	border-radius: .30769em;
	box-shadow: inset 0 .23077em .23077em rgba(0,0,0,0.075);
	color: #444;
	font-family: "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
	font-size: .92857em;
	min-height: 1.30769em;
	padding: .76923em .61538em;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	webkit-box-shadow: inset 0 .07692em .07692em rgba(0,0,0,0.075);
	webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	width: 100%;
}
input[type="text"]:focus,textarea:focus,select:focus
{
	border-color: #66afe9;
	box-shadow: inset 0 .07692em .07692em rgba(0,0,0,0.075),0 0 .61538em rgba(102,175,233,0.6);
	color: #444;
	outline: 0;
	webkit-box-shadow: inset 0 .07692em .07692em rgba(0,0,0,0.075),0 0 .61538em rgba(102,175,233,0.6);
}
textarea
{
	min-height: 4.61538em;
}
label,legend
{
	display: block;
	font-weight: bold;
}
input[type="checkbox"]
{
	display: inline;
}
label span,legend span
{
	color: #444;
	font-weight: normal;
}
#breadcrumbs
{
	clear: both;
	display: block;
	font-size: .92857em;
	margin-bottom: 1.53846em;
}
#breadcrumbs div
{
	display: inline;
}
.alsocalled
{
	color: #404040;
	display: block;
	font-weight: bold;
	margin-bottom: 1em;
}
.resource-label
{
	color: #404040;
	display: block;
	font-weight: bold;
	margin-bottom: 1em;
}
.bulletlist
{
	list-style-position: outside;
	list-style-type: disc;
	margin-top: 0;
	padding-left: .71429em;
}
.bluearea
{
	background: #E2EEF2;
	border-radius: .42857em;
	margin-bottom: 1.42857em;
}
.grayarea
{
	background: #F5F5F5;
	border: .07143em solid #CDCDCD;
	border-radius: .28571em;
}
.whitearea
{
	border: .07143em solid #CDCDCD;
	border-radius: .42857em;
	box-shadow: .07143em .14286em .42857em rgba(170,170,170,0.6);
}
.blue-label,.text-label
{
	color: #404040;
	font-weight: bold;
	line-height: 2em;
}
b,strong,.bold-text,.strong-text
{
	color: #404040;
	font-weight: bold;
}
u,.underline-text
{
	text-decoration: underline;
}
i,.italics-text
{
	font-style: italic;
}
.code-text
{
	display: block;
	font-style: italic;
	font-weight: bold;
	padding: .71429em .71429em .71429em 2.85714em;
	word-wrap: break-word;
}
.fluid-text
{
	word-wrap: break-word;
}
.desc-text
{
	color: #666666;
	display: inline-block;
	font-size: .85714em;
	vertical-align: bottom;
}
.desc-text .desccode
{
	font-weight: bold;
}
.orgs
{
	vertical-align: middle;
}
.imgdesc
{
	display: inline;
	margin-left: .21429em;
	margin-right: .07143em;
	vertical-align: middle;
}
.related-text
{
	color: #666666;
	display: block;
	font-size: .85714em;
}
.also-lang
{
	color: #666666;
	display: block;
	font-size: .85714em;
}
.group:after
{
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
*:first-child+html .group
{
	min-height: 1px;
}
* html .group
{
	height: 1%;
}
.form-box
{
	padding: 1em;
}
.form-box .form-area
{
	display: table-cell;
	vertical-align: top;
	width: 100%;
}
.form-box .button-area
{
	display: table-cell;
	padding-left: 1.14286em;
	vertical-align: middle;
}
.text-combo .button-area button
{
	border-radius: 0 .28571em .28571em 0;
	padding: .71429em .85714em;
}
.text-combo .form-area input[type="text"]
{
	border-radius: .28571em 0 0 .28571em;
}
.section .section-header
{
	display: block;
	margin-bottom: .71429em;
	overflow: hidden;
}
.section .section-header .section-title h2
{
	display: block;
	margin-bottom: 0;
}
.section .section-header .section-button
{
	display: none;
}
.side-section
{
	border-radius: .42857em;
	box-shadow: .07143em .14286em .42857em rgba(170,170,170,0.6);
	margin-bottom: 1.42857em;
}
.side-section .section-header
{
	background: #007CBF;
	background: linear-gradient(#007cbf 0%,#004999 100%);
	background: -moz-linear-gradient(#007cbf 0%,#004999 100%);
	background: url('data:image/svg+xml;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #007cbf),color-stop(100%, #004999));
	background: -webkit-linear-gradient(#007cbf 0%,#004999 100%);
	border-radius: .42857em .42857em 0 0;
}
.side-section .section-header h2
{
	color: #FFF;
	font-size: 1em;
	font-weight: bold;
	line-height: 2.14286em;
	margin-bottom: 0;
	padding-bottom: 0;
	text-align: center;
}
.side-section .section-header.red
{
	background: #990066;
	background: linear-gradient(#990066 0%,#620042 100%);
	background: -moz-linear-gradient(#990066 0%,#620042 100%);
	background: url('data:image/svg+xml;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #990066),color-stop(100%, #620042));
	background: -webkit-linear-gradient(#990066 0%,#620042 100%);
}
.side-section .section-body
{
	background: #FFF;
	border: .07143em solid #ddd;
	border-radius: 0 0 .42857em .42857em;
	margin: 0;
	overflow: hidden;
	padding: 1em;
}
.side-section .section-body ul,.side-section .section-body li:last-child
{
	margin-bottom: 0;
}
.side-section .section-body.no-header
{
	border-radius: .42857em;
}
.side-section .section-body .more-links
{
	display: none;
	padding-top: .85714em;
}
.side-section .section-body .more-btn
{
	background: #F5F5F5;
	border: .07143em solid #CDCDCD;
	border-radius: .28571em;
	color: #069;
	float: right;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 1em;
	padding: .42857em;
	text-decoration: none;
}
.side-section .section-body .more-btn:hover,.side-section .section-body .more-btn:focus
{
	color: #936;
}
.side-section .section-body .more-btn .less
{
	display: none;
}
.side-section .section-body .more-btn .more
{
	display: inline-block;
}
.side-section .section-body .more-btn.expanded .less
{
	display: inline-block;
}
.side-section .section-body .more-btn.expanded .more
{
	display: none;
}
.esm .side-section .section-body .more-btn:hover,.esm .side-section .section-body .more-btn:focus
{
	color: #A54B13;
}
.alphanav
{
	margin-bottom: 1.42857em;
}
.alphanav .blue-label,.alphanav .text-label
{
	color: #404040;
	display: inline-block;
	padding: .35714em 0;
	padding-left: .71429em;
}
.alphanav .alpha-links
{
	margin-bottom: 0;
	padding: 0 .42857em;
}
.alphanav .alpha-links li
{
	display: inline-block;
	margin-bottom: 0;
	padding: .71429em .57143em;
}
.alphanav .alpha-links a,.alphanav .alpha-links span.inactive,.alphanav .alpha-links span.active
{
	font-weight: bold;
	text-decoration: none;
}
.alphanav.section .section-header
{
	border: 0;
	margin-bottom: 0;
}
.alphanav.azindex.section .alpha-links li
{
	padding-top: 0;
}
.alphanav.azjump .alpha-links
{
	display: inline;
}
.hide-offscreen
{
	left: -9999px;
	position: absolute;
	width: 100px;
}
.sm-live-area
{
	display: none;
}
.r2top
{
	font-size: .71429em;
	font-weight: bold;
	line-height: 2.2em;
	margin: .3em;
}
.gov-delivery .blue-label,.gov-delivery .text-label
{
	display: inline;
	line-height: 3em;
}
.gov-delivery .form-box
{
	padding: 0;
}
.gov-delivery .icon
{
	margin-left: .42857em;
}
.page-actions
{
	margin-bottom: .28571em;
}
.page-actions span a
{
	display: inline-block;
	padding: .28571em;
}
.page-info .js-disabled-message
{
	color: #666666;
	display: block;
	font-size: .85714em;
	margin-bottom: .83333em;
}
.table-box
{
	border: .07143em solid #ddd;
	margin-bottom: 1.07143em;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
}
.table-box table
{
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
	width: 100%;
}
.table-box td,.table-box th
{
	border: .07143em solid #FFF;
	padding-left: .28571em;
	padding-right: .28571em;
	text-align: center;
	vertical-align: middle;
}
.table-box td span,.table-box th span
{
	display: inline-block;
}
.table-box thead th
{
	background: #007CBF;
	color: #FFF;
	font-weight: bold;
	vertical-align: middle;
}
.table-box tr:nth-child(even)
{
	background-color: #EDF5FE;
}
.table-box tr:nth-child(odd)
{
	background-color: #D7E6FB;
}
.table-box.basic td,.table-box.basic th
{
	background: none;
	border: .07143em solid #007CBF;
	color: #333;
	padding: .28571em;
	text-align: left;
	vertical-align: middle;
}
.table-box.basic tr:nth-child(even),.table-box.basic tr:nth-child(odd)
{
	background-color: #FFF;
}
.large-click-img
{
	border: .07143em solid #ddd;
	display: block;
	text-align: center;
}
.large-click-img:hover
{
	text-decoration: none;
}
.large-click-img img
{
	max-height: 100%;
	max-width: 100%;
}
.large-click-img span
{
	background: #000;
	background: rgba(0,0,0,0.75);
	color: #fff;
	display: none;
	float: left;
	line-height: 2.85714em;
	margin-top: -2.85714em;
	position: relative;
	text-align: center;
	width: 100%;
}
.decor-image
{
	display: none;
}
@media only screen and (min-width: 41.25em)
{
	#mplus-content .main,#mplus-content .page-title
	{
		display: table-cell;
		padding-right: 1.42857em;
		vertical-align: top;
		width: 100%;
	}
	#mplus-content .side
	{
		display: table-cell;
		vertical-align: top;
		width: 18.57143em;
	}
	#mplus-content .page-actions
	{
		display: table-cell;
		margin-bottom: 0;
		text-align: right;
		vertical-align: middle;
		width: 18.57143em;
	}
	#mplus-content .page-actions .addthis_toolbox
	{
		width: 18.57143em;
	}
	#mplus-content .page-actions span a
	{
		padding: .28571em .5em;
	}
	#mplus-content .page-info .js-disabled-message
	{
		text-align: right;
	}
	.break,.breaklist li:nth-child(5n)
	{
		margin-bottom: 1.92857em;
	}
	.bulletlist
	{
		padding-left: 2.71429em;
	}
	.section .section-header
	{
		border-bottom: .07143em solid #ddd;
	}
	.section .section-header .section-title h2
	{
		float: left;
	}
	.section .section-header .r2top
	{
		float: right;
		left: auto !important;
		position: relative;
		width: auto !important;
	}
	.side-section
	{
		border-radius: .42857em;
		margin-bottom: 1.42857em;
		width: 18.57143em;
	}
	.decor-image
	{
		display: block;
		float: right;
		margin-left: 1.42857em;
		margin-top: 1.42857em;
	}
}
@media only screen and (min-width: 13.75em) and (max-width: 41.249em)
{
	input[type="text"],select,textarea
	{
		font-size: 16px;
		min-height: 1.25em;
		padding: .5em;
	}
	.text-combo .button-area button
	{
		border: .07143em solid #000;
		border: .07143em solid rgba(0,0,0,0.25);
		box-sizing: content-box;
		font-size: 1em;
		height: 1.14286em;
		margin: 0;
		padding: .71429em;
	}
	.alphanav .alpha-links
	{
		margin: 0 .35714em .35714em .35714em;
		text-align: left;
	}
	.alphanav .alpha-links li
	{
		padding: 0;
		text-align: center;
	}
	.alphanav .alpha-links a,.alphanav .alpha-links span.inactive,.alphanav .alpha-links span.active
	{
		background: #e2eef2;
		border: 1px solid #DDD;
		display: block;
		line-height: 2.5em;
		margin-bottom: .28571em;
		min-width: 3.57143em;
	}
	.alphanav .alpha-links span.active
	{
		background: #005988;
		color: #FFF;
	}
	.alphanav .alpha-links span.inactive
	{
		background: #EEE;
		color: #666;
	}
	.alphanav.azindex.section
	{
		margin-bottom: 1.14286em;
	}
	.alphanav.azindex.section .section-header
	{
		display: block;
		float: none;
	}
	.alphanav.azindex.section .section-header .section-button button
	{
		margin: 0 .71429em 0 .42857em;
	}
	.alphanav.azindex.section .section-body
	{
		display: none;
		float: none;
		margin: 0;
		padding-top: .71429em;
	}
	.alphanav.azlanding.section .section-body
	{
		margin: 0;
		padding-top: .71429em;
	}
	.alphanav.azjump
	{
		display: none;
	}
	.alphanav.bluearea,.alphanav .bluearea
	{
		background: #FFF;
	}
	.section
	{
		border: .07143em solid #CDCDCD;
		border-radius: .21429em;
		box-shadow: 0 .14286em .14286em -.14286em #ccc;
		margin-bottom: .71429em;
	}
	.section .section-header
	{
		cursor: pointer;
		margin-bottom: 0;
	}
	.section .section-header .section-title
	{
		display: table-cell;
		vertical-align: top;
		width: 100%;
	}
	.section .section-header .section-title h2
	{
		display: block;
		margin-bottom: 0;
		padding: 1em 0 1em 1.14286em;
	}
	.section .section-header .section-button
	{
		display: table-cell;
		vertical-align: middle;
	}
	.section .section-header .section-button button
	{
		background: none;
		border: none;
		display: block;
		margin: 0 1.14286em;
		padding: 0;
	}
	.section .section-header .r2top
	{
		display: none;
	}
	.section .section-body
	{
		display: none;
		margin-left: 1.42857em;
		margin-right: 1.42857em;
	}
	.section .section-body.expanded
	{
		display: block !important;
	}
	.page-actions span
	{
		display: inline-block;
		margin-right: .42857em;
	}
	.large-click-img span
	{
		display: block;
	}
	.sm-live-area
	{
		display: block;
	}
}
#mplus-wrap
{
	background: #FFF;
	box-shadow: 0 0 .42857em #666;
	margin: 0 auto;
}
#mplus-header
{
	position: relative;
}
#mplus-header #mplus-orgs
{
	background: #007CBF;
	font-size: .85714em;
	font-weight: bold;
	padding: .16667em 0 .16667em .33333em;
}
#mplus-header #mplus-orgs a
{
	color: #FFF;
	display: inline-block;
}
#mplus-header #mplus-orgs .nihlogo
{
	margin-bottom: .16667em;
	margin-right: .33333em;
	vertical-align: middle;
}
#mplus-header #mplus-logo img
{
	display: block;
	max-height: 100%;
	max-width: 100%;
	padding: .85714em 0 .57143em 0;
}
#mplus-header #mplus-nav
{
	background: #f5f5f5;
	background: linear-gradient(#fafafa 10%,#f6f6f6 75%);
	background: -moz-linear-gradient(#fafafa 10%,#f6f6f6 75%);
	background: url('data:image/svg+xml;
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #fafafa),color-stop(75%, #f6f6f6));
	background: -webkit-linear-gradient(#fafafa 10%,#f6f6f6 75%);
	border-top: .07143em solid #BDBDBD;
	box-shadow: 0 0 .14286em rgba(0,0,0,0.2);
	display: block;
	min-height: 3.07143em;
	overflow: hidden;
	position: relative;
}
#mplus-header #mplus-nav #mplus-lang-toggle
{
	border-radius: .42857em;
	color: #CF5200;
	float: right;
	font-weight: bold;
	margin-right: .35714em;
	padding: .78571em;
	text-decoration: none;
}
#mplus-header #mplus-nav #mplus-lang-toggle:hover
{
	color: #990066;
}
#mplus-header #mplus-nav #mplus-nav-info
{
	display: block;
	float: left;
	font-weight: bold;
	padding: .78571em;
	padding-left: .71429em;
}
.esm #mplus-header #mplus-nav #mplus-lang-toggle
{
	color: #2b8737;
}
.esm #mplus-header #mplus-nav #mplus-lang-toggle:hover
{
	color: #990066;
}
#mplus-content
{
	border-top: .07143em solid #BDBDBD;
	clear: both;
	padding: .71429em;
	padding-bottom: 0;
}
#mplus-footer
{
	background: #007CBF;
	border-top: .07143em solid #000;
	clear: both;
	color: #FFF;
	margin-top: 1.42857em;
}
#mplus-footer .footer1
{
	border-top: 3.33333em solid #00639D;
	font-size: .85714em;
	padding: 1.66667em 1em 1.66667em;
}
#mplus-footer .footer1 .icon
{
	margin-left: .5em;
}
#mplus-footer .footer1 .follow-footer
{
	margin-top: 1.5em;
}
#mplus-footer .footer1 .follow-footer li:last-child
{
	margin-top: 1.66667em;
}
#mplus-footer .footer1 .follow-footer .follow-label
{
	font-size: 1.16667em;
	margin-right: .33333em;
	vertical-align: middle;
}
#mplus-footer .footer1 .follow-footer .follow-icon
{
	margin-right: .33333em;
	vertical-align: middle;
	width: 2em;
}
#mplus-footer .footer2
{
	font-size: .85714em;
	padding: 0 1em .83333em;
}
#mplus-footer .footer2 .address,#mplus-footer .footer2 .date
{
	padding-top: 1.66667em;
}
#mplus-footer .footer2 .address a,#mplus-footer .footer2 .date a
{
	display: block;
}
#mplus-footer .footer2 .date span
{
	display: block;
}
#mplus-footer .footer2 .date span a
{
	display: inline;
}
#mplus-footer .footer2 .return-top
{
	bottom: 1.16667em;
	display: none;
	height: 3em;
	position: fixed;
	right: 1.16667em;
	width: 3em;
}
#mplus-footer .footer2 .return-top a
{
	background: #49AAC4;
	border: .16667em solid #74C5E6;
	border-radius: .83333em;
	display: block;
	height: 100%;
	width: 100%;
}
#mplus-footer .footer2 .return-top a:hover
{
	background: #9DD2EA;
}
#mplus-footer .footer2 .return-top a .return-top-icon
{
	display: block;
	margin: .83333em auto 0;
}
#mplus-footer a
{
	color: #FFF;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
}
#mplus-footer a:hover
{
	text-decoration: underline;
}
#mplus-footer li,#mplus-footer ul
{
	margin: 0;
}
#mplus-footer li a
{
	padding: .25em .25em .25em 0;
}
@media only screen and (min-width: 61.25em)
{
	#mplus-wrap
	{
		max-width: 68.57143em;
	}
}
@media only screen and (min-width: 41.25em)
{
	#mplus-header #mplus-logo
	{
		background: none;
		z-index: auto;
	}
	#mplus-header #mplus-logo img
	{
		padding: 1.71429em 0 1.35714em .85714em;
	}
	#mplus-header #mplus-nav #mplus-nav-info
	{
		padding-left: 1.42857em;
	}
	#mplus-content
	{
		padding: 1.42857em;
		padding-bottom: 0;
	}
	#mplus-footer
	{
		background: #FFF;
		border-top: .07143em solid #DDD;
		color: #444;
		padding-bottom: 0;
		text-align: center;
	}
	#mplus-footer .secondarynav
	{
		display: none;
	}
	#mplus-footer ul,#mplus-footer li,#mplus-footer a
	{
		display: inline-block;
	}
	#mplus-footer a
	{
		color: #069;
	}
	#mplus-footer li a
	{
		font-weight: normal;
		padding: 0;
	}
	#mplus-footer .footer1
	{
		border-bottom: .07143em solid #DDD;
		border-top: none;
		font-size: 1em;
		padding: .71429em;
	}
	#mplus-footer .footer1 a
	{
		margin-left: .71429em;
	}
	#mplus-footer .footer1 .icon
	{
		padding-right: .42857em;
	}
	#mplus-footer .footer1 .follow-footer
	{
		margin-top: 0;
	}
	#mplus-footer .footer1 .follow-footer li:first-child .follow-label
	{
		margin-left: 0;
	}
	#mplus-footer .footer1 .follow-footer li:last-child
	{
		margin-top: 0;
	}
	#mplus-footer .footer1 .follow-footer .follow-label
	{
		font-size: 1em;
		margin-left: 1.42857em;
		margin-right: 0;
		vertical-align: baseline;
	}
	#mplus-footer .footer1 .follow-footer .follow-item
	{
		margin-left: .57143em;
	}
	#mplus-footer .footer1 .follow-footer .follow-icon
	{
		margin-right: 0;
		width: 1.35714em;
	}
	#mplus-footer .footer2
	{
		font-size: .78571em;
		line-height: 2em;
		margin-top: .90909em;
	}
	#mplus-footer .footer2 .address,#mplus-footer .footer2 .date
	{
		padding-top: 0;
	}
	#mplus-footer .footer2 .address a,#mplus-footer .footer2 .date a
	{
		display: inline-block;
	}
	#mplus-footer .footer2 .date span
	{
		display: inline-block;
	}
	#mplus-footer .footer2 .date #lastupdate
	{
		padding-right: 1.42857em;
	}
	#mplus-footer .footer2 a
	{
		font-weight: normal;
		margin-left: .18182em;
		margin-right: .18182em;
	}
	#mplus-footer .footer2 .return-top
	{
		bottom: 1.27273em;
		height: 3.27273em;
		right: 1.27273em;
		width: 3.27273em;
	}
	#mplus-footer .footer2 .return-top a
	{
		border: .18182em solid #74C5E6;
		border-radius: .90909em;
	}
	#mplus-footer .footer2 .return-top a .return-top-icon
	{
		margin: .90909em auto 0;
	}
}
@media only screen and (min-width: 13.75em) and (max-width: 41.249em)
{
	#mplus-header #mplus-logo
	{
		padding: .57143em;
	}
	#mplus-header #mplus-logo img
	{
		padding-top: 0em;
	}
}
@media only screen and (min-width: 20em) and (max-width: 41.249em)
{
	#mplus-header #mplus-logo a
	{
		padding: .85714em 0 .57143em 1em;
	}
}
.icon
{
	background: url("img/mplus-sprite.png") no-repeat top left;
	display: inline-block;
	vertical-align: middle;
}
.icon.icon-more
{
	margin-left: .28571em;
	vertical-align: text-top;
}
.icon.icon-info,.icon.icon-twitter,.icon.icon-rss,.icon.icon-email-update
{
	vertical-align: text-bottom;
}
.icon.icon-slide-pause,.icon.icon-slide-play
{
	vertical-align: baseline;
}
.icon.icon-email-update
{
	background-position: 0 0;
	height: 14px;
	width: 24px;
}
.icon.icon-home-connect
{
	background-position: 0 -64px;
	height: 38px;
	width: 38px;
}
.icon.icon-home-drugs
{
	background-position: 0 -152px;
	height: 70px;
	width: 70px;
}
.icon.icon-home-easy
{
	background-position: 0 -392px;
	height: 38px;
	width: 38px;
}
.icon.icon-home-ency
{
	background-position: 0 -480px;
	height: 70px;
	width: 70px;
}
.icon.icon-home-ht
{
	background-position: 0 -720px;
	height: 70px;
	width: 70px;
}
.icon.icon-home-langs
{
	background-position: 0 -960px;
	height: 40px;
	width: 40px;
}
.icon.icon-home-orgs
{
	background-position: 0 -1050px;
	height: 39px;
	width: 39px;
}
.icon.icon-home-video
{
	background-position: 0 -1139px;
	height: 70px;
	width: 70px;
}
.icon.icon-info
{
	background-position: 0 -1379px;
	height: 16px;
	width: 16px;
}
.icon.icon-more
{
	background-position: 0 -1445px;
	height: 15px;
	width: 16px;
}
.icon.icon-nav-menu
{
	background-position: 0 -1575px;
	height: 22px;
	width: 22px;
}
.icon.icon-nav-search
{
	background-position: 0 -1719px;
	height: 22px;
	width: 22px;
}
.icon.icon-rss
{
	background-position: 0 -1863px;
	height: 14px;
	width: 14px;
}
.icon.icon-section-action
{
	background-position: 0 -1927px;
	height: 30px;
	width: 30px;
}
.icon.icon-slide-pause
{
	background-position: -120px -80px;
	height: 11px;
	width: 10px;
}
.icon.icon-slide-play
{
	background-position: -120px -141px;
	height: 11px;
	width: 10px;
}
.icon.icon-twitter
{
	background-position: -120px -202px;
	height: 16px;
	width: 16px;
}
.expanded .icon.icon-nav-menu
{
	background-position: 0 -1647px;
	height: 22px;
	width: 22px;
}
.expanded .icon.icon-nav-search
{
	background-position: 0 -1791px;
	height: 22px;
	width: 22px;
}
.expanded .icon.icon-more
{
	background-position: 0 -1510px;
	height: 15px;
	width: 16px;
}
.expanded .icon.icon-section-action
{
	background-position: -120px 0;
	height: 30px;
	width: 30px;
}
.hovered .icon.icon-home-ht
{
	background-position: 0 -840px;
	height: 70px;
	width: 70px;
}
.hovered .icon.icon-home-drugs
{
	background-position: 0 -272px;
	height: 70px;
	width: 70px;
}
.hovered .icon.icon-home-video
{
	background-position: 0 -1259px;
	height: 70px;
	width: 70px;
}
.hovered .icon.icon-home-ency
{
	background-position: 0 -600px;
	height: 70px;
	width: 70px;
}
.share-icon
{
	display: block;
}
@media only screen and (min-width: 41.25em)
{
	.share-icon
	{
		width: 24px;
	}
}
.nojs #sm-menu-btn,.nojs #sm-search-btn,.nojs .section-header button,.nojs .more-btn,.nojs .addthis-box
{
	display: none !important;
}
.nojs #mplus-navlist,.nojs #mplus-nav #mplus-search,.nojs #mplus-search-bottom,.nojs .section-body,.nojs .more-links,.nojs .slide-nojs
{
	display: block !important;
}
.nojs .section-header
{
	cursor: inherit !important;
}
.nojs #mplus-nav .navmenu
{
	height: 3.07143em !important;
}
.nojs #mplus-nav #mplus-menu-list
{
	margin-top: 3.07143em !important;
}
@media only screen and (min-width: 13.75em) and (max-width: 41.249em)
{
	.nojs #mplus-nav #mplus-menu-list,.nojs #mplus-nav #mplus-search
	{
		display: block !important;
	}
}
@media print
{
	*
	{
		box-shadow: none !important;
	}
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquote,th,td
	{
		word-wrap: break-word;
	}
	article a
	{
		color: #000;
		font-size: 1em;
		font-weight: normal;
		text-decoration: none;
	}
	article a[href^=http]:after
	{
		color: #000;
		content: " [" attr(href) "] ";
		font-size: 1em;
		font-weight: normal;
		text-decoration: none;
	}
	.results a[href^=http]:after
	{
		color: #000;
		content: " [" attr(href) "] ";
		font-size: 1em;
		font-weight: normal;
		text-decoration: none;
	}
	.nih-org:after
	{
		content: "" attr(title) " /";
		padding-right: .28571em;
	}
	.side-section .section-header h2
	{
		text-align: left;
	}
	.page-url
	{
		margin-bottom: .71429em;
	}
	.side-section .section-body
	{
		border: none;
	}
	.print-only
	{
		display: block;
	}
	.more-links
	{
		display: block !important;
	}
	#mplus-orgs .nihlogo,#mplus-nav,#mplus-search,#mplus-search-bottom,#internal_page_menu,.icon-home,.icon-twitter,.icon-rss,.icon-email-update,.page-actions,.r2top,.alphanav,#gov-delivery-section,.gov-delivery,.side-section .section-body .more-btn,.return-top,.result .more-btn
	{
		display: none;
	}
	#mplus-footer
	{
		background: #FFF;
		border-top: .07143em solid #DDD;
		color: #444;
		padding-bottom: 0;
		text-align: center;
	}
	#mplus-footer .secondarynav
	{
		display: none;
	}
	#mplus-footer ul,#mplus-footer li,#mplus-footer a
	{
		display: inline-block;
	}
	#mplus-footer a
	{
		color: #069;
	}
	#mplus-footer li a
	{
		font-weight: normal;
		padding: 0;
	}
	#mplus-footer .footer1
	{
		border-bottom: .07143em solid #DDD;
		border-top: none;
		font-size: 1em;
		padding: .71429em;
	}
	#mplus-footer .footer1 a
	{
		margin-left: .71429em;
	}
	#mplus-footer .footer1 .icon
	{
		padding-right: .42857em;
	}
	#mplus-footer .footer2
	{
		font-size: .78571em;
		line-height: 2em;
		margin-top: .90909em;
	}
	#mplus-footer .footer2 .address,#mplus-footer .footer2 .date
	{
		padding-top: 0;
	}
	#mplus-footer .footer2 .address a,#mplus-footer .footer2 .date a
	{
		display: inline-block;
	}
	#mplus-footer .footer2 a
	{
		font-weight: normal;
		margin-left: .18182em;
		margin-right: .18182em;
	}
}
.with-also
{
	margin-bottom: 0;
}
.alsoCalled
{
	display: block;
	font-weight: bold;
	margin-bottom: .55556em;
}
.subhead
{
	display: block;
}
.mplushead,.ghrhead
{
	background: #f5f5f5;
	border: .07143em solid #cdcdcd;
	border-radius: .35714em;
	margin-bottom: .71429em;
	padding: .14286em;
}
.mplushead img,.ghrhead img
{
	display: block;
	float: left;
	margin-left: .07143em;
	margin-right: .28571em;
	margin-top: .14286em;
}
.notes
{
	border-top: .09091em solid #bdbdbd;
	font-size: .78571em;
	padding-top: 1.81818em;
}
.notes .disclaimer
{
	margin-bottom: 0;
}
.mp-icon
{
	background-image: url("img/mplus_en.png");
	display: block;
	float: right;
	height: 16px;
	margin-left: .85714em;
	width: 16px;
}
.mp-icon img
{
	display: block;
}
.esm .mp-icon
{
	background-image: url("img/mplus_es.png");
}
.mpluscolor
{
	color: #319438;
	font-weight: bold;
}
.ghrcolor
{
	color: #000099;
	font-weight: bold;
}
#searchForm
{
	min-height: 14.28571em;
}
.results
{
	padding-left: .71429em;
}
.results .bulletlist
{
	list-style-position: inside;
	margin-bottom: 0;
}
.results .result
{
	padding-bottom: .71429em;
}
.results .result .more-links
{
	display: none;
	padding-top: 0;
}
.results .result .more-btn
{
	background: #F5F5F5;
	border: .07143em solid #CDCDCD;
	border-radius: .28571em;
	color: #069;
	font-weight: normal;
	margin-bottom: 1em;
	margin-top: .14286em;
	padding: .42857em;
	text-decoration: none;
}
.results .result .more-btn:hover,.results .result .more-btn:focus
{
	background: #f5f5f5;
	color: #936;
}
.results .result .more-btn .less
{
	display: none;
}
.results .result .more-btn .more
{
	display: inline-block;
}
.results .result .more-btn.expanded .less
{
	display: inline-block;
}
.results .result .more-btn.expanded .more
{
	display: none;
}
.results#loinc ul,.results#drugs ul
{
	margin-bottom: 2.85714em;
	margin-top: 1.42857em;
	overflow: auto;
}
.results#loinc h2
{
	display: inline;
	font-size: 1.14286em;
	line-height: 1.375em;
	margin-bottom: 0;
}
.results#loinc .desc-text
{
	display: inline-block;
	margin-left: .57143em;
	vertical-align: middle;
}
.phHandoutImages
{
	display: inline-block;
	vertical-align: baseline;
}
#problems_imagetopic img
{
	margin-bottom: 1.42857em;
	margin-top: .71429em;
	max-height: 100%;
	max-width: 100%;
}
.demos #demoCodes label,.demos #demoMeds label,.demos #demolabs label
{
	display: inline;
}
.demos form
{
	margin: .35714em 0 2.14286em;
}
.demos fieldset
{
	border: medium none;
	margin: 0;
	padding: .71429em 0;
}
.demos fieldset span
{
	display: block;
}
.demos fieldset label span
{
	margin-left: 1.71429em;
}
.demos .form-box
{
	margin-bottom: .71429em;
	padding: 0 1.42857em;
}
#mpconnect .params,#mpconnect .response
{
	margin-bottom: 1.42857em;
	margin-left: 1.42857em;
}
#mpconnect .codebox
{
	border: .07143em inset #000;
	overflow: auto;
}
#mpconnect .response .entry
{
	margin-top: 1.42857em;
}
#mpconnect .response .entry p
{
	margin-bottom: .42857em;
}
#mpconnect .response .entry ul
{
	list-style-position: inside;
	list-style-type: disc;
	margin-bottom: .71429em;
	margin-left: 1.42857em;
}
#mpconnect .response .entry ul li
{
	margin-bottom: .28571em;
}
#mpconnect .response .entry .NLMattribution
{
	font-style: italic;
}
.response-link
{
	word-break: break-all;
}
@media only screen and (min-width: 41.25em)
{
	.results
	{
		padding-left: 1.42857em;
	}
	.results .bulletlist
	{
		padding-left: 20px;
	}
	.results .result
	{
		display: table;
	}
	.results .result .result-main
	{
		display: table-cell;
		vertical-align: top;
		width: 100%;
	}
	.results .result .result-side
	{
		display: table-cell;
		padding-left: .71429em;
		vertical-align: top;
		width: 16.42857em;
	}
	.results .result .result-side #problems_imagetopic
	{
		width: 16.42857em;
	}
	.results#loinc,.results#drugs
	{
		min-height: 14.28571em;
	}
	#problems_patienthandout .more-btn
	{
		margin-left: 1.28571em;
	}
	.demos .form-box
	{
		width: 21.42857em;
	}
	#searchForm .form-box
	{
		width: 28.57143em;
	}
	.mp-icon
	{
		margin-left: .42857em;
		margin-top: .07143em;
	}
}