<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ScrubMethodSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ScrubMethodSoap1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="NavicureSubmissionServiceBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/" binding="customBinding" bindingConfiguration="NavicureSubmissionServiceBinding" contract="NavicureService.NavicureSubmissionService" name="NavicureSubmissionService" />
      <endpoint address="https://services.alphaii.net/Scrub/scrub.asmx" binding="basicHttpBinding" bindingConfiguration="ScrubMethodSoap" contract="AlphaIIService.ScrubMethodSoap" name="ScrubMethodSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.9.0" newVersion="5.5.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="AlphaIISubmitterID" value="MDVISTEST"/>
    <add key="AlphaIIUser" value="services"/>
    <add key="AlphaIIPassword" value="MD^!$0nM16"/>
    <add key="AlphaIIEDIServer" value="test"/>
    <add key="ReminderCallURL" value="http://api.remindercall.net/v3.2/dispatch.xml"/>
  <!--TestDev12 User ReminderCall Password: 6c7dadd4919435c9610e0448db719dc432bcd8fa20296676b4244669bed689ce-->
  
  <!--Medtext credentials -->
  <add key="Medtext_JWTSecret" value="4dbcb09f6e0375fff844ec4d4329e5027d2e4e34524df0ba3460e4601e4a385c98c3dc95f7df09e5647e0ead6fd8f8281880dc6dc63f2462c60a5acd567f5b7f" />
  <add key="Medtext_URL" value="http://mdvjones.stagingmedtextapp.com/" />
  <add key="Medtext_UserName" value="Admin Jones" />
  <add key="Medtext_Password" value="JxMbH8MnLY6o" />
  <add key="Medtext_Email" value="ajones@medtext.co" />
  
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
