<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <!--Login Info-->
    <add key="VersionNo" value="1.0.0.1" />
    <add key="PatchNo" value="1" /> 
    <add key="WebServerURL" value="http://localhost/"></add>


    <!--<add key="Data Source" value="UAT-SERVER"></add>
    <add key="Initial Catalog" value="SingleClaimEMRQA"></add>
    <add key="User ID" value="Web_App"></add>
    <add key="Password" value="9A11941B-8BA7-4522-B524"></add>
    <add key="Provider Type" value="SqlServer"></add>
    <add key="CustomerRegCode" value="LocalStaging"></add>-->

    <!--commented by faizan will be uncommented-->
    <add key="Data Source" value="192.168.1.8"></add>
    <add key="Initial Catalog" value="MDVDB_DEV"></add>
    <add key="CustomerRegCode" value="LocalTest"></add>
    <add key="User ID" value="Web_App"></add>
    <add key="Password" value="150A4486-3EBD-437B-8F20"></add>
    <add key="Provider Type" value="SqlServer"></add>
    <add key="PersistSecurityInfo" value="false"></add>
    <!--For PQRS-->
    <!--<add key="Data Source" value="DB-SERVER-AD"></add>
    <add key="Initial Catalog" value="MDVDB_PQRS"></add>
    <add key="CustomerRegCode" value="LocalStaging"></add>
    <add key="User ID" value="Web_App"></add>
    <add key="Password" value="150A4486-3EBD-437B-8F20"></add>
    <add key="Provider Type" value="SqlServer"></add>
    <add key="PersistSecurityInfo" value="false"></add>-->

    <!--<add key="Initial Catalog" value="MDVDB_QA"></add>
    <add key="CustomerRegCode" value="LocalStaging"></add>-->

    <add key="BillingInquiryEmail" value="arehman@sovms.com"></add>
    <add key="No_Reply_EmailAddress" value="no_reply@sovms.com"></add>
    <add key="No_Reply_EmailPassword" value="Naka5116"></add>

    <!-- Application Keys -->

    <add key="IsTestDatabase" value="true"></add>
    <add key="IsProxy" value="false"></add>
    <add key="PoolingString" value=""></add>
    <add key="DocsHostName" value="192.168.0.253"></add>
    <add key="DocsAlias" value="ehrdocs$$"></add>
    <add key="DomainName" value="MD4PK"></add>
    <add key="DomainUserName" value="report"></add>
    <add key="DomainPassword" value="mdvision"></add>


    <add key="PatientPortalURL" value="http://localhost/MDVision.PatientPortalClient"></add>
    <add key="ProviderNPI_API_URL" value="https://npiregistry.cms.hhs.gov/api/" />
    <add key="ReportViewerServerConnection" value="MDVision.IEHR.Controls.Reports.ReportServerConnection, MDVision.IEHR" />
    <add key="OpCode" value="MDV"></add>
    <add key="EMRSourceRequire" value="true"></add>
    <add key="IsSimultaneousLoginAllowed" value="true"></add>
    <add key="isDrFirstRequired" value="true"></add>
    <add key="TotalStatementInBatch" value="75"></add>
    <!--<add key="IMOHostName" value="Sandbox.e-imo.com"></add>
    <add key="IMOPortNumber" value="42045"></add>
    <add key="IMO_ID" value="25d3f24926ae1e7a"></add>-->
    <!--<add key="FaxDocumentsPath" value="\\192.168.0.19\docs-share\FaxDocuments\"/>-->
    <add key="PatientDocumentsFolder" value="PatientDocuments\" />
    <add key="FaxDocumentsFolder" value="FaxDocuments\" />
    <add key="PatientFilesPath" value="\\192.168.0.19\docs-share\" />
    <add key="CCDA_RemoteHost" value="sandbox.phimail-dev.com"></add>
    <add key="CCDA_RemoteUser" value="mdvisionemr@test.directproject.net"></add>
    <add key="CCDA_RemotePassword" value="yg4g5bzu"></add>
    <add key="CCDA_RemotePort" value="32541"></add>

    <add key="PatintDemographicImagesPath" value="\\192.168.0.19\docs-share\PatintDemographicImages\" />
    <add key="MDVisionTrainingManual" value="\\192.168.0.19\docs-share\Release notes\MDVision_Training_Manual.pdf" />
    <add key="DefaultProviderId" value="3" />
    <add key="DefaultFacilityId" value="1" />
    <add key="DefaultPracticeId" value="1" />
    <add key="WinSCP_Path" value="E:\MDVision-Team\Development\Source\MD Vision IEHR\MDVisionEHR\MDVision.IEHR\DLL\WinSCP.exe"></add>
    <add key="UploadPath" value="/DocASAP/SIU/OUT/"></add>
    <add key="SFTP_RemoteHost" value="secure.sovms.com"></add>
    <add key="SFTP_RemoteUser" value="docasap"></add>
    <add key="SFTP_RemotePassword" value="D0cA$@P!#"></add>
    <add key="SFTP_RemotePort" value="22"></add>
    <add key="SFTP_RemoteHostKey" value="ssh-rsa 2048 78:a7:26:bd:52:ff:7f:0b:7a:98:73:63:79:ff:30:e6"></add>
    <add key="DoNotReportG2ForEntityId" value="101"></add>
    <add key="AlphaIISubmitterID" value="MDVISTEST" />
    <add key="AlphaIIUser" value="services" />
    <add key="AlphaIIPassword" value="MD^!$0nM16" />
    <add key="AlphaIIEDIServer" value="test" />
    <add key="ReminderCallURL" value="https://api.remindercall.net/v3.2/dispatch.xml" />
    <add key="ReminderCallPassword" value="d36d28e6655bb340b9ef6f84475d3869bbd018b1618d4e1bd8778712da7693e4" />
    <add key="ReminderCall_TimeZone" value="-05" />
    <!--TestDev12 User ReminderCall Password: 6c7dadd4919435c9610e0448db719dc432bcd8fa20296676b4244669bed689ce-->

    <!-- MD Vision FAX-API keys -->

    <add key="access_id" value="77137" />
    <add key="access_pwd" value="MDVision1" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FaxNotifyURL" value="https://zocdoc.sovms.com/api/Fax/FaxNotify" />

    <!-- Medline Plus URLs -->
    <add key="MedlineURL" value="https://apps.nlm.nih.gov/medlineplus/services/mpconnect_service.cfm?" />
    <add key="MedlineParam1" value="mainSearchCriteria.v.cs=" />
    <add key="MedlineParam2" value="mainSearchCriteria.v.c=" />


    <!--Medtext credentials -->
    <add key="Medtext_JWTSecret" value="4dbcb09f6e0375fff844ec4d4329e5027d2e4e34524df0ba3460e4601e4a385c98c3dc95f7df09e5647e0ead6fd8f8281880dc6dc63f2462c60a5acd567f5b7f" />
    <add key="Medtext_URL" value="http://mdvjones.stagingmedtextapp.com/" />
    <add key="Medtext_UserName" value="1255" />
    <add key="Medtext_Password" value="broad" />
    <add key="Medtext_Email" value="sjane@medtext.co" />
    <add key="Medtext_CheckIn" value="api/v2/mdvision/check-in" />
    <add key="Medtext_CheckOut" value="api/v2/mdvision/check-out/" />
    

    <!--phiMail Connector-->
    <add key="phiMail_RemoteHost" value="sandbox.phimail-dev.com"></add>
    <add key="phiMail_RemotePort" value="32541"></add>
    <add key="phiMail_DirectUser" value="mdvisionemr@test.directproject.net"></add>
    <add key="phiMail_EdgeUser" value="mdvisionemr-edge2015@directtest.interopengine.com"></add>
    <add key="phiMail_SadboxPassword" value="yg4g5bzu"></add>


  </appSettings>

  <system.web>  
    
    <trace enabled="true" pageOutput="false" requestLimit="400" localOnly="false" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!-- <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />-->
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime executionTimeout="500" targetFramework="4.5" maxRequestLength="4194304" requestValidationMode="2.0" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <!--<authentication mode="Forms">
      <forms name=".AUTHCOOKIE" path="/" loginUrl="http://192.168.0.83/MDVision.IEHR-Arsalan/MDVisionLogin.aspx" defaultUrl="http://192.168.0.83/MDVision.IEHR-Arsalan/MDVisionLogin.aspx" timeout="1440" />
    </authentication>
    <authentication mode="Windows">
    </authentication>
    <identity impersonate="true"  />-->
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->

    <sessionState timeout="60" mode="InProc" cookieless="false" cookieName="MDV" regenerateExpiredSessionId="true"  customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.9.0" newVersion="5.5.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />

    </staticContent>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="MDVisionLogin.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ScrubMethodSoap" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="ScrubMethodSoap1" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="NavicureSubmissionServiceBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/" binding="customBinding" bindingConfiguration="NavicureSubmissionServiceBinding" contract="NavicureService.NavicureSubmissionService" name="NavicureSubmissionService" />
      <endpoint address="https://services.alphaii.net/Scrub/scrub.asmx" binding="basicHttpBinding" bindingConfiguration="ScrubMethodSoap" contract="AlphaIIService.ScrubMethodSoap" name="ScrubMethodSoap" />
    </client>
  </system.serviceModel>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for
        more information on remote access and securing ELMAH.
    -->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah" applicationName="elmah" />
    <security allowRemoteAccess="true" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <connectionStrings>
    <add name="elmah" connectionString="server=DBSERVER;database=Elmah;uid=Web_App_Elmah;password=4557AFC6-96E5-41A8-A45A-C16AE8D5D80D;" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
