<div id="pnlOrderSetMedications">
    <div id="actionPanOrderSetMedications" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


    <div class="modal-dialog modal-dialog-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="OrderSet_Medications.UnLoad();"><span class=" red">&nbsp;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Medication</h4>
            </div>
            <div class="modal-body">
                <form id="frmOrderSetMedications" method="post" onsubmit="return false">
                    <div class="col-xs-12 col-sm-3">
                        <label class="control-label" for="search">Medication<span class="required">*</span></label>
                        <div class="input-group">
                            <input class="form-control" placeholder="Start typing to search" id="txtMedication" type="text" name="Medication" customname="Medication"  >
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-xs" type="button" onclick="OrderSet_Medications.BindMedicationAutoComplete();">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="control-label">Sig:</label>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-1">
                                <select id="ddlAction" name="Action" class="form-control" ddlist="GetAction"></select>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-1">
                                <select id="ddlDoseSelect" name="DoseSelect" class="form-control" ddlist="GetDose" onchange="OrderSet_Medications.DoseSelectChange(this)"></select>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-1">
                                <input type="text" id="txtDose" name="Dose" class="form-control" value="1" onchange="OrderSet_Medications.DoseChange(this)" max="5"/>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-1">
                                <select id="ddlDoseUnit" name="DoseUnit" class="form-control" ddlist="GetDoseUnit"></select>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-1">
                                <select id="ddlRoute" name="Route" class="form-control" ddlist="GetRoute"></select>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3">
                                <select id="ddlDoseTiming" name="DoseTiming" class="form-control" ddlist="GetDoseTiming" onchange="OrderSet_Medications.DoseTimingChange()"></select>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3">
                                <select id="ddlDoseOther" name="DoseOther" class="form-control" ddlist="GetDoseOther"></select>
                            </div>


                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label class="control-label">Duration</label>
                        <select id="ddlDuration" name="Duration" class="form-control" ddlist="GetMedicationDuration" onchange="OrderSet_Medications.DurationChange(this)"></select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-sm-3 p-none">
                        <div class="col-xs-12 col-sm-4">
                            <label for="" class="control-label">Quantity</label>
                            <input id="txtQuantity" name="Quantity" type="text" class="form-control"/>
                        </div>
                        <div class="col-xs-12 col-sm-4  pad-a-labelsize">
                            <select id="ddlQuantityUnit" name="QuantityUnit" class="form-control" ddlist="GetQuantityUnit"></select>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <label class="control-label">Refills</label>
                            <select class="form-control" id="Refill" name="Refill">
                                <option selected="selected" value="none">none</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="PRN">PRN</option>
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-sm-3">
                        <label class="control-label">Directions to Pharmacist</label>
                        <select class="form-control" id="DirectionsToPharmacist" name="DirectionsToPharmacist" value="DirectionsToPharmacist">
                            <option selected="selected" value="Substitution permitted">Substitution permitted</option>
                            <option value="Dispense as written">Dispense as written</option>
                        </select>
                    </div>
                    <div class="col-xs-11 pt-xs">
                        <input type="text" id="PrescriptionsOtherNotes" name="PrescriptionsOtherNotes" class="form-control" maxlength="210"/>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="" class="control-label">Additional Directions to Patient</label>
                        <textarea class="form-control" rows="4" spellcheck="true" id="AddDirectionToPatient" name="AddDirectionToPatient" maxlength="2000"></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-sm-3">
                        <label for="" class="control-label">Comments</label>
                        <textarea class="form-control" rows="5" id="Comments" spellcheck="true" name="Comments" maxlength="4000"></textarea>
                    </div>
                    <input type="hidden" value="" id="hfMedication" name="hfMedication">
                    <input type="hidden" value="" id="NDCID" name="NDCID">
                    <input type="hidden" value="" id="BrandName" name="BrandName">
                    <input type="hidden" value="" id="GenericName" name="GenericName">
                    <input type="hidden" value="" id="Form" name="Form">
                    <input type="hidden" value="" id="Strength" name="Strength">
                    <div class="col-sm-1 pull-right mt-md">
                        <button class="btn btn-success btn-sm rightbtn" type="submit" id="btnAddMedication">Save</button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
</div>
