.container { margin: 0 auto; }

/* Example wrapper */
.wrap {
	position: relative;
	float: left;
	width: 550px;
	margin: 0 40px 3em 0;
}
.wrap:nth-child(2n) { margin-right: 0; }

/* Frame */
.frame {
/*width: 510px; */
	height: 456px;
	overflow: hidden;
	border: 1px solid #444;
}
.frame .slidee {
	padding: 20px 25px;
	background: #fff;
}
.frame ul.items {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 24px;
	line-height: 100px;
}
.frame ul.items li {
	float: left;
	width: 100%;
    height: auto;
	margin: 10px 0;
	padding: 0;
	/* background: #333; */
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul.items li.active {
	color: #fff;
	/*background: #a03232;*/
}
.frame ul.items li.active img {
    border: 5px solid #468cec;
}
/* Scrollbar */
.scrollbar {
	position: absolute;
	right: 9px;
	width: 9px;
	height: 456px;
	/*background: #ccc;*/
	line-height: 0;
}
.scrollbar .handle {
	width: 100%;
	height: 50px;
	background: #468cec;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -10px;
	width: 22px;
	height: 100%;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Controls */
.controls { margin: 25px 0; text-align: center; }

.frame ul.items li img{
    width: 80%;
    height: 50%;
     border: 1px solid #468cec;
}

.lc-font-settings select{
    border: 1px solid #E5E7E9;
    border-radius: 1px;
    height: auto;
    padding: 1px;
    outline: none;
}